<connectionStrings>
  <!--<add name="Acr3S" connectionString="Server=localhost;initial catalog=WebReportTest;User=sa; Password=Sql2005;"/>-->
  <!--<add name="Acr3S" connectionString="Server=localhost\Sql2012;initial catalog=ReportProd18042013;User=sa; Password=Sql2012;"/>-->
  <!--<add name="Acr3S" connectionString="Server=localhost\Sql2005;initial catalog=WebReportTest;User=sa; Password=sb;"/>-->
  <!--<add name="Acr3S" connectionString="Server=localhost;initial catalog=prod20130420;User=sa; Password=sa;"/>-->
  <!--<add name="Acr3S" connectionString="Server=localhost;initial catalog=WebAppNew20121125;User=sa; Password=123;"/>-->
  <add name="Acr3S" connectionString="Server=WEBSRV\SQLEXPRESS;initial catalog=WebAppTest;User=sa; Password=nhbrkfaktrc;"/>
  <!--<add name="Acr3S" connectionString="Server=localhost;initial catalog=ReportProd20130418;User=sb; Password=Sql2008;"/>-->
</connectionStrings>
