@model Reports.Presenters.UI.ViewModel.StaffMovementsPrintModel
@{
    Layout = null;
}
<HTML><HEAD><TITLE></TITLE>
<META content="text/html; CHARSET=utf-8" http-equiv=Content-Type>
<STYLE type=text/css>BODY {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; BACKGROUND: #ffffff; FONT-STYLE: normal; MARGIN: 0px
}
TR.R0 {
	HEIGHT: 101px
}
TR.R0 TD.R0C0 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-STYLE: normal
}
TR.R1 {
	HEIGHT: 17px
}
TR.R1 TD.R11C0 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-STYLE: normal
}
TR.R1 TD.R1C0 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; FONT-STYLE: normal; TEXT-ALIGN: center
}
TR.R1 TD.R2C0 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-STYLE: normal; TEXT-ALIGN: center
}
TR.R1 TD.R3C0 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-STYLE: normal
}
TR.R1 TD.R3C1 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-WEIGHT: bold; FONT-STYLE: normal
}
TR.R1 TD.R6C0 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-STYLE: normal
}
TR.R1 TD.R9C0 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-STYLE: normal; TEXT-ALIGN: justify
}
TR.R5 {
	HEIGHT: 49px
}
TR.R5 TD.R5C0 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; VERTICAL-ALIGN: top; FONT-STYLE: normal; TEXT-ALIGN: justify
}
TR.R7 {
	HEIGHT: 33px
}
TR.R7 TD.R19C0 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-STYLE: normal
}
TR.R7 TD.R19C6 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-STYLE: normal
}
TR.R7 TD.R7C0 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; FONT-STYLE: normal; TEXT-ALIGN: justify
}
TABLE {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial; WIDTH: 100%; VERTICAL-ALIGN: bottom; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed; PADDING-BOTTOM: 0px; FONT-STYLE: normal; PADDING-TOP: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 0px
}
TD {
	OVERFLOW: hidden; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 0px
}
</STYLE>

<META name=GENERATOR content="MSHTML 11.00.9600.17344"></HEAD>
<BODY style="FONT-SIZE: 8pt; FONT-FAMILY: Arial; BACKGROUND: #ffffff; FONT-STYLE: normal; MARGIN: 0px">
<TABLE style="HEIGHT: 0px; WIDTH: 0px" cellSpacing=0>
<COLGROUP>
<COL width=40>
<COL width=63>
<COL width=63>
<COL width=63>
<COL width=63>
<COL width=30>
<COL width=30>
<COL width=63>
<COL width=63>
<COL width=63>
<COL width=63>
<COL width=63>
<COL width=21>
<TBODY>
<TR class=R0>
<TD class=R0C0 style="BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none">
<DIV style="OVERFLOW: hidden; HEIGHT: 101px; WIDTH: 100%"><SPAN></SPAN></DIV></TD>
<TD class=R0C0 style="BORDER-TOP-STYLE: none">
<DIV style="OVERFLOW: hidden; HEIGHT: 101px; WIDTH: 100%"><SPAN></SPAN></DIV></TD>
<TD class=R0C0 style="PADDING-LEFT: 0px" vAlign=top colSpan=8 align=left><IMG style="MARGIN-LEFT: 24pt; MARGIN-TOP: 9pt" alt="" src="доп согл2_files\image000.png" width=366 height=76></TD>
<TD class=R0C0 style="BORDER-TOP-STYLE: none">
<DIV style="OVERFLOW: hidden; HEIGHT: 101px; WIDTH: 100%"><SPAN></SPAN></DIV></TD>
<TD class=R0C0 style="BORDER-TOP-STYLE: none">
<DIV style="OVERFLOW: hidden; HEIGHT: 101px; WIDTH: 100%"><SPAN></SPAN></DIV></TD>
<TD style="BORDER-TOP-STYLE: none">
<DIV style="OVERFLOW: hidden; HEIGHT: 101px; WIDTH: 100%"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 101px; WIDTH: 100%"></DIV></TD></TR>
<TR class=R1>
<TD class=R1C0 style="BORDER-LEFT-STYLE: none" colSpan=13><SPAN style="WHITE-SPACE: nowrap">ДОПОЛНИТЕЛЬНОЕ&nbsp;СОГЛАШЕНИЕ</SPAN></TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R2C0 style="BORDER-LEFT-STYLE: none" colSpan=13><SPAN style="WHITE-SPACE: nowrap">К&nbsp;ТРУДОВОМУ&nbsp;&nbsp;ДОГОВОРУ&nbsp;№&nbsp;от&nbsp;&nbsp;20&nbsp;г.</SPAN></TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R3C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R3C1 colSpan=9><SPAN style="WHITE-SPACE: nowrap">г.&nbsp;Кострома</SPAN></TD>
<TD class=R3C1 colSpan=4><SPAN style="WHITE-SPACE: nowrap">20&nbsp;г.</SPAN></TD></TR>
<TR class=R1>
<TD class=R3C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD></TR>
<TR class=R5>
<TD class=R5C0 style="BORDER-LEFT-STYLE: none" colSpan=13>Публичное акционерное общество «СОВКОМБАНК», именуемый в дальнейшем «РАБОТОДАТЕЛЬ», в лице , действующей на основании Доверенности № от 20 г., с одной стороны, </TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R6C0 style="BORDER-LEFT-STYLE: none" colSpan=2><SPAN style="WHITE-SPACE: nowrap">гражданин(ка)</SPAN></TD>
<TD class=R3C1 colSpan=6></TD>
<TD class=R3C0 colSpan=6><SPAN style="WHITE-SPACE: nowrap">в&nbsp;Трудовом&nbsp;Договоре&nbsp;«Работник»,</SPAN></TD></TR>
<TR class=R7>
<TD class=R7C0 style="BORDER-LEFT-STYLE: none" colSpan=13>совместно именуемые «Стороны», заключили настоящее Дополнительное соглашение к Трудовому Договору (далее по тексту «Соглашение») о нижеследующем:</TD>
<TD></TD></TR>
<TR>
<TD style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD></TR>
<TR class=R1>
<TD class=R9C0 style="BORDER-LEFT-STYLE: none" colSpan=13>Изменить пункт 4.2. Трудового договора от&nbsp;20&nbsp;г., и изложить его в следующей редакции: </TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R9C0 style="BORDER-LEFT-STYLE: none" colSpan=13>4.2. РАБОТНИКУ устанавливается c&nbsp; 20&nbsp;г.:</TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R11C0 style="BORDER-LEFT-STYLE: none" colSpan=13>- базовый должностной оклад в размере &nbsp;( ) рублей в месяц;</TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R11C0 style="BORDER-LEFT-STYLE: none" colSpan=13>- надбавка персональная в размере &nbsp;( ) рублей в месяц;</TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R11C0 style="BORDER-LEFT-STYLE: none" colSpan=13>- надбавка за квалификацию в размере &nbsp;( ) рублей в месяц;</TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R9C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R9C0><SPAN></SPAN></TD>
<TD class=R9C0><SPAN></SPAN></TD>
<TD class=R9C0><SPAN></SPAN></TD>
<TD class=R9C0><SPAN></SPAN></TD>
<TD class=R9C0><SPAN></SPAN></TD>
<TD class=R9C0><SPAN></SPAN></TD>
<TD class=R9C0><SPAN></SPAN></TD>
<TD class=R9C0><SPAN></SPAN></TD>
<TD class=R9C0><SPAN></SPAN></TD>
<TD class=R9C0><SPAN></SPAN></TD>
<TD class=R9C0><SPAN></SPAN></TD>
<TD class=R9C0><SPAN></SPAN></TD>
<TD>&nbsp;</TD></TR>
<TR class=R7>
<TD class=R7C0 style="BORDER-LEFT-STYLE: none" colSpan=13>Настоящее соглашение является неотъемлемой частью Трудового договора. Условия трудового договора, неизмененные настоящим соглашением, сохраняют силу.</TD>
<TD></TD></TR>
<TR class=R7>
<TD class=R7C0 style="BORDER-LEFT-STYLE: none" colSpan=13>Настоящее Дополнительное соглашение составлено в 2-х экземплярах, по одному для каждой из сторон, имеющих одинаковую юридическую силу.</TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R3C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD>&nbsp;</TD></TR>
<TR class=R1>
<TD class=R3C1 style="BORDER-LEFT-STYLE: none" colSpan=7><SPAN style="WHITE-SPACE: nowrap">БАНК:</SPAN></TD>
<TD class=R3C1 colSpan=7><SPAN style="WHITE-SPACE: nowrap">РАБОТНИК:</SPAN></TD></TR>
<TR class=R7>
<TD class=R19C0 style="BORDER-LEFT-STYLE: none" colSpan=6></TD>
<TD class=R19C6><SPAN></SPAN></TD>
<TD class=R19C6><SPAN></SPAN></TD>
<TD class=R19C6><SPAN></SPAN></TD>
<TD class=R19C6><SPAN></SPAN></TD>
<TD class=R19C6><SPAN></SPAN></TD>
<TD class=R19C6><SPAN></SPAN></TD>
<TD class=R19C6><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R1>
<TD class=R3C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD class=R3C0><SPAN></SPAN></TD>
<TD>&nbsp;</TD></TR>
<TR class=R1>
<TD class=R3C0 style="BORDER-LEFT-STYLE: none" colSpan=7><SPAN style="WHITE-SPACE: nowrap">___________________/ /</SPAN></TD>
<TD class=R3C0 colSpan=7><SPAN style="WHITE-SPACE: nowrap">___________________/&nbsp;/</SPAN></TD></TR>
<TR class=R1>
<TD class=R3C0 style="BORDER-LEFT-STYLE: none"><SPAN></SPAN></TD>
<TD colSpan=7><SPAN style="WHITE-SPACE: nowrap">подпись</SPAN></TD>
<TD colSpan=6><SPAN style="WHITE-SPACE: nowrap">подпись</SPAN></TD></TR>
<TR class=R1>
<TD class=R3C0 style="BORDER-LEFT-STYLE: none" colSpan=14><SPAN style="WHITE-SPACE: nowrap">М.П.</SPAN></TD></TR></TBODY></TABLE></BODY></HTML>
<script>
    window.print();
</script>