@model Reports.Presenters.UI.ViewModel.StaffMovementsEditModel
<HTML><HEAD><TITLE></TITLE>
<META content="text/html; CHARSET=utf-8" http-equiv=Content-Type>
<STYLE type=text/css>BODY {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana; BACKGROUND: #ffffff; FONT-STYLE: normal; MARGIN: 0px
}
TR.R0 {
	FONT-SIZE: 9pt; HEIGHT: 16px; FONT-FAMILY: Verdana; FONT-STYLE: normal
}
TR.R0 TD.R0C17 {
	TEXT-ALIGN: right
}
TR.R0 TD.R27C16 {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana; BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal
}
TR.R0 TD.R27C2 {
	BORDER-BOTTOM: #000000 1px solid
}
TR.R0 TD.R27C6 {
	BORDER-BOTTOM: #000000 1px solid
}
TR.R0 TD.R4C16 {
	BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid
}
TR.R0 TD.R5C15 {
	TEXT-ALIGN: right; PADDING-LEFT: 5px
}
TR.R0 TD.R5C16 {
	BORDER-TOP: #000000 2px solid; BORDER-RIGHT: #000000 2px solid; BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 2px solid
}
TR.R0 TD.R6C0 {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana; BORDER-BOTTOM: #000000 1px solid; FONT-WEIGHT: bold; FONT-STYLE: normal; PADDING-LEFT: 5px
}
TR.R0 TD.R6C16 {
	BORDER-RIGHT: #000000 2px solid; VERTICAL-ALIGN: bottom; BORDER-BOTTOM: #000000 2px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 2px solid
}
TR.R0 TD.R7C0 {
	FONT-SIZE: 6pt; FONT-FAMILY: Verdana; VERTICAL-ALIGN: top; FONT-STYLE: normal; TEXT-ALIGN: center
}
TR.R10 {
	FONT-SIZE: 9pt; HEIGHT: 20px; FONT-FAMILY: Verdana; FONT-STYLE: normal
}
TR.R10 TD.R10C11 {
	BORDER-TOP: #000000 2px solid; BORDER-RIGHT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid
}
TR.R10 TD.R10C3 {
	FONT-SIZE: 11pt; FONT-FAMILY: Verdana; FONT-WEIGHT: bold; FONT-STYLE: normal; TEXT-ALIGN: center
}
TR.R10 TD.R10C8 {
	BORDER-TOP: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 2px solid
}
TR.R11 {
	FONT-SIZE: 9pt; HEIGHT: 38px; FONT-FAMILY: Verdana; FONT-STYLE: normal
}
TR.R11 TD.R11C3 {
	FONT-SIZE: 11pt; FONT-FAMILY: Verdana; FONT-WEIGHT: bold; FONT-STYLE: normal; TEXT-ALIGN: center
}
TR.R13 {
	FONT-SIZE: 9pt; HEIGHT: 17px; FONT-FAMILY: Verdana; FONT-STYLE: normal
}
TR.R13 TD.R13C0 {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana; FONT-WEIGHT: bold; FONT-STYLE: normal
}
TR.R14 {
	FONT-SIZE: 9pt; HEIGHT: 7px; FONT-FAMILY: Verdana; FONT-STYLE: normal
}
TR.R15 {
	FONT-SIZE: 9pt; HEIGHT: 86px; FONT-FAMILY: Verdana; FONT-STYLE: normal; TEXT-ALIGN: center
}
TR.R15 TD.R15C0 {
	BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid
}
TR.R15 TD.R15C17 {
	BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid
}
TR.R15 TD.R15C4 {
	FONT-SIZE: 9pt; BORDER-TOP: #000000 1px solid; FONT-FAMILY: Verdana; BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal; BORDER-LEFT: #000000 1px solid
}
TR.R15 TD.R15C7 {
	BORDER-TOP: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid
}
TR.R16 {
	FONT-SIZE: 9pt; HEIGHT: 19px; FONT-FAMILY: Verdana; FONT-STYLE: normal; TEXT-ALIGN: center
}
TR.R16 TD.R16C0 {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid
}
TR.R16 TD.R16C2 {
	BORDER-TOP: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid
}
TR.R17 {
	FONT-SIZE: 9pt; HEIGHT: 18px; FONT-FAMILY: Verdana; FONT-STYLE: normal; TEXT-ALIGN: center
}
TR.R17 TD.R17C0 {
	BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid
}
TR.R17 TD.R17C17 {
	BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid
}
TR.R17 TD.R17C2 {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana; BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal; BORDER-LEFT: #000000 1px solid
}
TR.R17 TD.R17C3 {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid
}
TR.R18 {
	FONT-SIZE: 8pt; HEIGHT: 25px; FONT-FAMILY: Verdana; FONT-STYLE: normal
}
TR.R18 TD.R18C0 {
	BORDER-TOP: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid
}
TR.R18 TD.R18C1 {
	BORDER-TOP: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid
}
TR.R18 TD.R18C15 {
	FONT-SIZE: 6pt; BORDER-TOP: #000000 1px solid; FONT-FAMILY: Verdana; BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal; BORDER-LEFT: #000000 1px solid
}
TR.R18 TD.R18C17 {
	BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid
}
TR.R18 TD.R18C7 {
	BORDER-TOP: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: right; BORDER-LEFT: #000000 1px solid
}
TR.R19 {
	FONT-SIZE: 8pt; HEIGHT: 28px; FONT-FAMILY: Verdana; FONT-STYLE: normal
}
TR.R19 TD.R19C0 {
	BORDER-TOP: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid
}
TR.R19 TD.R19C1 {
	BORDER-TOP: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid
}
TR.R19 TD.R19C15 {
	FONT-SIZE: 6pt; BORDER-TOP: #000000 1px solid; FONT-FAMILY: Verdana; BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal; BORDER-LEFT: #000000 1px solid
}
TR.R19 TD.R19C17 {
	BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid
}
TR.R19 TD.R19C7 {
	BORDER-TOP: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: right; BORDER-LEFT: #000000 1px solid
}
TR.R9 {
	FONT-SIZE: 9pt; HEIGHT: 30px; FONT-FAMILY: Verdana; FONT-STYLE: normal
}
TR.R9 TD.R9C11 {
	BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid
}
TR.R9 TD.R9C8 {
	BORDER-TOP: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #000000 1px solid
}
TABLE {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana; WIDTH: 100%; VERTICAL-ALIGN: bottom; BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed; PADDING-BOTTOM: 0px; FONT-STYLE: normal; PADDING-TOP: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 0px
}
TD {
	OVERFLOW: hidden; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 0px
}
</STYLE>

<META name=GENERATOR content="MSHTML 11.00.9600.17344"></HEAD>
<BODY style="FONT-SIZE: 9pt; FONT-FAMILY: Verdana; BACKGROUND: #ffffff; FONT-STYLE: normal; MARGIN: 0px">
<TABLE style="HEIGHT: 689px; WIDTH: 1121px" cellSpacing=0>
<COLGROUP>
<COL width=147>
<COL width=83>
<COL width=110>
<COL width=98>
<COL width=98>
<COL width=23>
<COL width=63>
<COL width=12>
<COL width=48>
<COL width=20>
<COL width=22>
<COL width=63>
<COL width=63>
<COL width=33>
<COL width=48>
<COL width=36>
<COL width=26>
<COL width=121>
<COL width="100%">
<TBODY>
<TR class=R0>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD colSpan=7><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">Унифицированная&nbsp;форма&nbsp;№&nbsp;Т-5а</SPAN></TD>
<TD></TD></TR>
<TR class=R0>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD colSpan=7><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">Утверждена&nbsp;постановлением&nbsp;Госкомстата</SPAN></TD>
<TD></TD></TR>
<TR class=R0>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD colSpan=7><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">России&nbsp;от&nbsp;05.01.2004&nbsp;№&nbsp;1</SPAN></TD>
<TD></TD></TR>
<TR>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD></TR>
<TR class=R0>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R4C16 colSpan=2><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">Код</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R0>
<TD class=R5C15 colSpan=16><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">Форма&nbsp;по&nbsp;ОКУД</SPAN></TD>
<TD class=R5C16 colSpan=2><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">0301018</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R0>
<TD class=R6C0 colSpan=14>ПУБЛИЧНОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО "СОВКОМБАНК"</TD>
<TD class=R5C15 colSpan=2><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">по&nbsp;ОКПО</SPAN></TD>
<TD class=R6C16 colSpan=2><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">09139030</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R0>
<TD class=R7C0 colSpan=14><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">наименование&nbsp;организации</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R0>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD></TR>
<TR class=R9>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R9C8 colSpan=3><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">Номер<BR>документа</SPAN></TD>
<TD class=R9C11 colSpan=2><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">Дата&nbsp;составления</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R10>
<TD class=R10C3 colSpan=8><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">ПРИКАЗ</SPAN></TD>
<TD class=R10C8 colSpan=3><SPAN></SPAN></TD>
<TD class=R10C11 colSpan=2><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R11>
<TD class=R11C3 colSpan=19>
<P align=left><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (распоряжение)<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;о&nbsp;переводе&nbsp;работников&nbsp;на&nbsp;другую&nbsp;работу</SPAN></P></TD>
<TD></TD></TR>
<TR class=R0>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD></TR>
<TR class=R13>
<TD class=R13C0 colSpan=19><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">Перевести&nbsp;на&nbsp;другую&nbsp;работу:</SPAN></TD>
<TD></TD></TR>
<TR class=R14>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 7px; WIDTH: 100%"></DIV></TD></TR>
<TR class=R15>
<TD class=R15C0>
<DIV style="OVERFLOW: hidden; HEIGHT: 86px; WIDTH: 100%">Фамилия, имя, отчество</DIV></TD>
<TD class=R15C0>
<DIV style="OVERFLOW: hidden; HEIGHT: 86px; WIDTH: 100%">Табельный <BR>номер</DIV></TD>
<TD class=R15C0 colSpan=2>
<DIV style="OVERFLOW: hidden; HEIGHT: 86px; WIDTH: 100%">Структурное подразделение</DIV></TD>
<TD class=R15C4 colSpan=3>
<DIV style="OVERFLOW: hidden; HEIGHT: 86px; WIDTH: 100%">Должность (специальность, профессия), разряд, класс (категория) квалификации</DIV></TD>
<TD class=R15C7 rowSpan=2 colSpan=4>
<DIV style="OVERFLOW: hidden; HEIGHT: 104px; WIDTH: 100%">Тарифная ставка (оклад), надбавка, руб.<BR>(новые)</DIV></TD>
<TD class=R15C7 colSpan=2>
<DIV style="OVERFLOW: hidden; HEIGHT: 86px; WIDTH: 100%">Вид перевода (постоянно, временно)</DIV></TD>
<TD class=R15C7 colSpan=4>
<DIV style="OVERFLOW: hidden; HEIGHT: 86px; WIDTH: 100%">Основание: изменение к трудовому договору или другой документ</DIV></TD>
<TD class=R15C17 rowSpan=2>
<DIV style="OVERFLOW: hidden; HEIGHT: 104px; WIDTH: 100%">С приказом (распоряжением) ознакомлен. Личная подпись.<BR>Дата</DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 86px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 86px; WIDTH: 100%"></DIV></TD></TR>
<TR class=R16>
<TD class=R16C0>
<DIV style="OVERFLOW: hidden; HEIGHT: 19px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD class=R16C0>
<DIV style="OVERFLOW: hidden; HEIGHT: 19px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD class=R16C2>
<DIV style="OVERFLOW: hidden; HEIGHT: 19px; WIDTH: 100%">прежнее</DIV></TD>
<TD class=R16C2>
<DIV style="OVERFLOW: hidden; HEIGHT: 19px; WIDTH: 100%">новое</DIV></TD>
<TD class=R16C0>
<DIV style="OVERFLOW: hidden; HEIGHT: 19px; WIDTH: 100%">прежняя</DIV></TD>
<TD class=R16C0 colSpan=2>
<DIV style="OVERFLOW: hidden; HEIGHT: 19px; WIDTH: 100%">новая</DIV></TD>
<TD class=R16C0>
<DIV style="OVERFLOW: hidden; HEIGHT: 19px; WIDTH: 100%">с</DIV></TD>
<TD class=R16C0>
<DIV style="OVERFLOW: hidden; HEIGHT: 19px; WIDTH: 100%">по</DIV></TD>
<TD class=R16C0 colSpan=2>
<DIV style="OVERFLOW: hidden; HEIGHT: 19px; WIDTH: 100%">номер</DIV></TD>
<TD class=R16C0 colSpan=2>
<DIV style="OVERFLOW: hidden; HEIGHT: 19px; WIDTH: 100%">дата</DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 19px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 19px; WIDTH: 100%"></DIV></TD></TR>
<TR class=R17>
<TD class=R17C0>
<DIV style="OVERFLOW: hidden; HEIGHT: 18px; WIDTH: 100%"><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">1</SPAN></DIV></TD>
<TD class=R17C0>
<DIV style="OVERFLOW: hidden; HEIGHT: 18px; WIDTH: 100%"><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">2</SPAN></DIV></TD>
<TD class=R17C2>
<DIV style="OVERFLOW: hidden; HEIGHT: 18px; WIDTH: 100%"><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">3</SPAN></DIV></TD>
<TD class=R17C3>
<DIV style="OVERFLOW: hidden; HEIGHT: 18px; WIDTH: 100%"><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">4</SPAN></DIV></TD>
<TD class=R17C3>
<DIV style="OVERFLOW: hidden; HEIGHT: 18px; WIDTH: 100%"><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">5</SPAN></DIV></TD>
<TD class=R17C3 colSpan=2>
<DIV style="OVERFLOW: hidden; HEIGHT: 18px; WIDTH: 100%"><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">6</SPAN></DIV></TD>
<TD class=R17C3 colSpan=4>
<DIV style="OVERFLOW: hidden; HEIGHT: 18px; WIDTH: 100%"><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">7</SPAN></DIV></TD>
<TD class=R17C3>
<DIV style="OVERFLOW: hidden; HEIGHT: 18px; WIDTH: 100%"><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">8</SPAN></DIV></TD>
<TD class=R17C3>
<DIV style="OVERFLOW: hidden; HEIGHT: 18px; WIDTH: 100%"><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">9</SPAN></DIV></TD>
<TD class=R17C3 colSpan=2>
<DIV style="OVERFLOW: hidden; HEIGHT: 18px; WIDTH: 100%"><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">10</SPAN></DIV></TD>
<TD class=R17C3 colSpan=2>
<DIV style="OVERFLOW: hidden; HEIGHT: 18px; WIDTH: 100%"><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">11</SPAN></DIV></TD>
<TD class=R17C17>
<DIV style="OVERFLOW: hidden; HEIGHT: 18px; WIDTH: 100%"><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">12</SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 18px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 18px; WIDTH: 100%"></DIV></TD></TR>
<TR class=R18>
<TD class=R18C0>
<DIV style="OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD class=R18C1>
<DIV style="OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD class=R18C0>
<DIV style="OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD class=R18C0>
<DIV style="OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD class=R18C0>
<DIV style="OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD class=R18C0 colSpan=2>
<DIV style="OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD class=R18C7 colSpan=4>
<DIV style="OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD class=R18C1>
<DIV style="OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD class=R18C1>
<DIV style="OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD class=R18C0 colSpan=2>
<DIV style="OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD class=R18C15 colSpan=2>
<DIV style="OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD class=R18C17>
<DIV style="OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 100%; POSITION: relative"><SPAN></SPAN></DIV></TD>
<TD>
<DIV style="OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 100%"></DIV></TD></TR>
<TR class=R19>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C7 colSpan=4><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C0 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C15 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C17><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R19>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C7 colSpan=4><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C0 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C15 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C17><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R19>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C7 colSpan=4><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C0 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C15 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C17><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R19>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C7 colSpan=4><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C0 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C15 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C17><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R19>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C7 colSpan=4><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C0 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C15 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C17><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R19>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C7 colSpan=4><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C0 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C15 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C17><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R19>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0><SPAN></SPAN></TD>
<TD class=R19C0 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C7 colSpan=4><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C1><SPAN></SPAN></TD>
<TD class=R19C0 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C15 colSpan=2><SPAN></SPAN></TD>
<TD class=R19C17><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD></TR>
<TR class=R0>
<TD colSpan=2><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">Руководитель&nbsp;организации</SPAN></TD>
<TD class=R27C2 colSpan=3><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R27C6><SPAN></SPAN></TD>
<TD class=R27C6><SPAN></SPAN></TD>
<TD class=R27C6><SPAN></SPAN></TD>
<TD class=R27C6><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R27C6 colSpan=5><SPAN></SPAN></TD>
<TD class=R27C16><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR class=R0>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R7C0 colSpan=3><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">должность</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R7C0 colSpan=4><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">личная&nbsp;подпись</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD class=R7C0 colSpan=5><SPAN style="MAX-WIDTH: 0px; WHITE-SPACE: nowrap">расшифровка&nbsp;&nbsp;подписи</SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD></TD></TR>
<TR>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD></TR></TBODY></TABLE></BODY></HTML>