@model Reports.Presenters.UI.ViewModel.TemplatesListModel
@{
    ViewBag.Title = "Шаблоны документов";
}

@using (Html.BeginForm())
{
<table style="width:100%">
    <tr>
        <td>
            <a href="@Url.Content("~/Templates/Test.pdf")" target="_blank">Тестовый документ</a>
        </td>
    </tr>
</table> 
    <script type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("templatesList");
    });
 </script>   
}