# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
_ReSharper.*
*.ReSharper.*
bin
obj
*.suo
*.csproj.user
*.rptproj.user
*.Publish.xml
Logs
*.css.css
_ReleasePackage/*
Thumbs.db
WebMvc/Presentations/*
WebMvc/db.config
WebMvc/Attachments/*

# mstest test results
TestResults

packages/*
.vs/*
