# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
_ReSharper.*
*.ReSharper.*
bin
obj
.vs/*
Backup/*
*.suo
*.csproj.user
*.rptproj.user
*.Publish.xml
Logs
*.css.css
_ReleasePackage/*
Thumbs.db
WebMvc/Presentations/*
WebMvc/db.config
WebMvc/Attachments/*

# mstest test results
TestResults

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
