@model Reports.Presenters.UI.ViewModel.Employment2.ApplicationLetterModel
@{
    Layout = "~/Views/Shared/_LayoutEmployment.cshtml";
    ViewBag.Title = "Прием - Заявление о приеме на работу";
}

@using (Html.BeginForm("ApplicationLetter", "Employment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*Html.HiddenFor(m => m.UserId)*@
    
    <fieldset class="bordered doc-wrap panel">
    <legend>Заявление о приеме</legend>
        <div class="formfield clear">
            Выбрать скан для загрузки<br /><input type="file" name="ApplicationLetterScanFile" />
        </div>
        
        @if (!string.IsNullOrEmpty(Model.ApplicationLetterScanAttachmentFilename))
        {
            <div class="formfield">
                <br />Скан:
                <a class="ui-notify-close" href='@Url.Action("ViewAttachment", new { Id = Model.ApplicationLetterScanAttachmentId })' style="cursor:hand" target="_blank">
                    @Model.ApplicationLetterScanAttachmentFilename
                </a>
            </div>
            @*
            <div class="formfield">
                <br /><input type="button" id="DeleteScanBtn" value="Удалить скан" onclick="deleteAttachment(@Model.ApplicationLetterScanAttachmentId);" />
            </div>
            *@
        }

        <div class="letter clear" style="text-align: center">
            <h3 style="text-align: center;">Образец текста заявления о приеме на работу</h3>
            <img src="@Url.Content("~/Content/files/Образец заявления о приеме.jpg")" alt="Образец заявления о приеме" />
        </div>
    </fieldset>
    
    <div class="clear">
        @*Html.EditorFor(m => m.IsDraft)@Html.LabelFor(m => m.IsDraft)*@
        <button type="submit">Сохранить</button>
    </div>
}  

<script>
    $(document).ready(function () {
        setActiveMenuItem("empApplicationLetter");
    });
</script>