@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    ViewBag.Title = "Прием - Произвольный отчет";
}

<h2>CustomReport</h2>

<script>
    $(document).ready(function () {
        setActiveMenuItem("empCustomReport");
    });
</script>