@{
    ViewBag.Title = "Прием";
}

<div style="margin: 0 auto; width: 70%; height: 200px; background-color: silver; border: 1px solid lightblue; text-align:center;">
    @Html.ActionLink("Кадровый портал", "GeneralInfo", "Employment", new { style = "font-size: 50px; line-height: 200px;" })
</div>