@model Reports.Presenters.UI.ViewModel.Employment2.InstructionModel
@using Reports.Presenters.Services.Impl
@using Reports.Core
@{
    var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
    Layout = "~/Views/Shared/_LayoutEmployment.cshtml";
    ViewBag.Title = "Instruction";
}
<div id="tabs">
    <ul>
        @if ((dto.UserRole & UserRole.Candidate) == UserRole.Candidate)
        {
            <li><a href="#tabs1">Для кандидата</a></li>
        }
        else
        {
            <li><a href="#tabs1">Для кандидата</a></li>
            <li><a href="#tabs2">Для руководителя инициатора</a></li>
            <li><a href="#tabs3">Для вышестоящего руководителя</a></li>
            <li><a href="#tabs4">Для специалиста департамента безопасности</a></li>
            <li><a href="#tabs5">Для тренера</a></li>
        }
    </ul>

        
    <div id="tabs1">            
        <p align=center><strong>Краткий порядок пользования программой «ПРИЕМ».</strong></p>
        <p align=center><strong>(Для Кандидатов).</strong></p>


        1. При поступлении на работу в ПАО «Совкомбанк» Вам необходимо заполнить <b>электронную анкету</b> на прием. Для этого необходимо:<br />
        &nbsp;&nbsp;&nbsp;&nbsp;а) Написать <b>заявление о согласии на обработку персональных данных</b> по образцу работодателя (образец Вы можете получить у своего будущего Руководителя);<br />
        &nbsp;&nbsp;&nbsp;&nbsp;б) Получить <b>учетную запись</b> (логин и пароль) у своего будущего Руководителя для входа в программу «ПРИЕМ» и заполнения электронной анкеты на прием;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;в) Войти под полученной учетной записью в программу «ПРИЕМ» по адресу https://ruscount.com:8002; <br />
        &nbsp;&nbsp;&nbsp;&nbsp;г) <b>Заполнить страницы</b> «Общая информация», «Паспортные данные», «Образование», «Состав семьи», «Воинский учет», «Трудовая деятельность», «Контактные данные», 
        «Департамент безопасности», «Документы» электронной анкеты на прием;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;д) <b>Вложить сканы, подтверждающих сведения документов,</b> в электронную анкету на прием через кнопку «Выберите файл» рядом с полем, для которого требуется скан подтверждающего документа.<br />
        &nbsp;&nbsp;&nbsp;&nbsp;е) На каждой странице анкеты Вам необходимо подтвердить правильность предоставленных данных, поставив внизу страницы галку рядом с полем <b>«Правильность представленных данных подтверждаю».</b><br />
        &nbsp;&nbsp;&nbsp;&nbsp;ж) <b>Обращаем Ваше внимание! Для сохранения страницы электронной анкеты для ее дальнейшего редактирования Вам необходимо внизу заполняемой страницы нажать на кнопку «Сохранить черновик»;</b><br />
        &nbsp;&nbsp;&nbsp;&nbsp;з) Для отправки страницы электронной анкеты на согласование Вам необходимо внизу заполняемой страницы нажать на кнопку «Отправить на согласование». <label style="text-decoration:underline;">После отправки 
        страницы на согласование, редактирование заполненных данных станет невозможным</label>,  отправленная страница в индикаторе состояния станет зеленого цвета.<br /><br />
        2. В случае принятия положительного решения о Вашем приеме на работу в ПАО «Совкомбанк», Вам необходимо будет написать заявление о приеме и подписать пакет документов на прием на странице  «Документы» .<br /><br />
         <b style="text-decoration:underline;">Обращаем Ваше внимание!</b> <b style="text-decoration:underline;">Страница</b> <b>электронной анкеты</b> <b style="text-decoration:underline;">«Документы»</b>, <b>содержащая Заявление на Прием, 
         Трудовой договор, Приказ о приеме и другие документы,</b> <b style="text-decoration:underline;">будет доступна в Ваш первый рабочий день</b>.<br /><br />
        3. <b style="text-decoration:underline;">Перед допуском  к  работе, в первый рабочий день</b>,  Вам необходимо распечатать подготовленные  для  Вас документы на Прием (страница «Документы»), подписать, отсканировать, 
        прикрепить сканы на странице «Документы», оригиналы подписанных документов и оригинал Трудовой  книжки передать Руководителю.<br /><br />
        4. Получив отсканированные  копии Ваших  документов, кадровая служба продолжит оформление Вашего Приема, подписание Руководством Банка пакета документов на Ваш прием, занесение Ваших  
        данных для ведения табельного учета и начисления заработной платы. <b>Если отсканированные документы не будут предоставлены, дальнейшее оформление Приема будет невозможным.</b> Доступ в программу Прием будет для  Вас  закрыт на третий  рабочий день.<br /><br />
        5. По вопросам заполнения электронной анкеты, оформления документов и организационным вопросам просьба обращаться к Вашему будущему Руководителю.
    </div>        
    <div id="tabs2">    
        <p align=center><strong>Краткий порядок пользования программой «ПРИЕМ».</strong></p>
        <p align=center><strong>(Для Руководителей).</strong></p>
        
        
        1. После принятия решения о приеме сотрудника в ПАО «Совкомбанк», необходимо проверить наличие вакансии в штатном расписании в Управлении кадрового делопроизводства и учета банка (e-mail:  Shtat@sovcombank.ru тел.: (4942) 39-09-35, (4942) 39-09-36).<br /><br />
        2. Создать учетную запись (логин и пароль) в Программе «ПОДБОР ПЕРСОНАЛА (СОГЛАСОВАНИЕ КАНДИДАТА)» для входа и заполнения кандидатом анкеты на прием.<br /><br />
        3. Для создания  учетной записи для ПРИЕМА, необходимо: <br />
        &nbsp;&nbsp;&nbsp;&nbsp;а) Зайти в программу «ПОДБОР ПЕРСОНАЛА (СОГЛАСОВАНИЕ КАНДИДАТА)» по адресу https://ruscount.com:8002; <br />
        &nbsp;&nbsp;&nbsp;&nbsp;б) Если кандидат подбирался через Службу по подбору персонала зайти во вкладку «Реестр отчетов по подбору»;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;в) Если кандидат подбирается самостоятельно или уже согласован в программе  Pyrus.com (переходный период) зайти во вкладку «Согласование кандидата от Руководителя»;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;г) Заполнить ФИО, паспортные данные, СНИЛС, дату рождения, выбрать структурное подразделение до 7 уровня, в которое принимается кандидат, выбрать кадровика, обучение и вид трудового договора. Нажать на кнопку «Сохранить» и распечатать учетную запись с инструкцией для кандидата;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;д) Передать кандидату распечатанную учетную запись с инструкцией.<br /><br />
        4. После передачи Руководителем кандидату распечатанной учетной записи с инструкцией, Руководитель может отслеживать заполнение кандидатом электронной анкеты на прием в программе «ПРИЕМ» по 
        индикатору состояния заполнения и согласования анкеты, который находится в анкете кандидата.<br /><br />
        5. После проверки электронной анкеты на прием Департаментом безопасности, Руководителю приходит сообщение на электронный почтовый адрес о согласовании/не согласовании кандидата Департаментом безопасности. <br /><br />
        6. Для заполнения раздела для Руководителей в электронной анкете в программе «ПРИЕМ» Руководителю необходимо:<br /><br />
        &nbsp;&nbsp;&nbsp;&nbsp;а) Войти в программу «ПРИЕМ», выбрать в реестре кандидатов нужного кандидата и нажать на ФИО кандидата;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;б) В электронной анкете кандидата, Руководителю необходимо заполнить страницу «Руководители» и отправить на согласование Вышестоящему руководителю.<br /><br />
        7. После получения согласования Вышестоящего руководителя, Руководитель-Инициатор уведомляет кандидата о дате начала работы. <br /><br />
        8. В первый рабочий день ,  Вам необходимо получить от кандидата Заявление на прием,   оригиналы подписанных документов  (страница «Документы») и оригинал Трудовой книжки. Все оригиналы документов  передаются в отдел кадров. <br /><br />
        <b>9. Обращаем Ваше внимание:</b><br /> 
        &nbsp;&nbsp;&nbsp;&nbsp;<label style="text-decoration:underline;">9.1) Дата начала  работы, указанная в  заявлении, должна совпадать с датой  начала  работы в Пакете документов на Прием . В случае,  если дата начала  работы будет отличаться от заявленной ранее, 
        Вам надо зайти в Прием (страница Руководители)  и изменить  дату начала работы  перед формированием Пакета документов на Прием кандидатом.</label>  <br />
        &nbsp;&nbsp;&nbsp;&nbsp;<label style="text-decoration:underline;">9.2) Дата  начала работы не должна быть ранее даты  издания Пакета документов  на Прием. </label>
       
    </div>
    <div id="tabs3">            
        <p align=center><strong>Краткий порядок пользования программой «ПРИЕМ».</strong></p>
        <p align=center><strong>(Для Вышестоящего руководителя (Руководителя БГ, Управляющего по области, Регионального директора, Управляющего филиалом))</strong></p>
        1. При согласовании Руководителем электронной анкеты кандидата на прием, Вышестоящему руководителю на электронный почтовый адрес приходит сообщение о необходимости согласования приема кандидата.<br /><br />
        2. Для просмотра электронной анкеты кандидата в программе «ПРИЕМ», Вышестоящему руководителю необходимо:<br />
        &nbsp;&nbsp;&nbsp;&nbsp;а) Зайти в программу «ПРИЕМ» по адресу https://ruscount.com:8002;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;б) Выбрать в реестре по приему кандидатов необходимого кандидата и нажать на ФИО кандидата для просмотра электронной анкеты.<br /><br />
        3. Для согласования электронной анкеты кандидата в программе «ПРИЕМ» Вышестоящим руководителем, необходимо:
        &nbsp;&nbsp;&nbsp;&nbsp;а) Выбрать в электронной анкете кандидата страницу «Руководители»;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;б) Для положительного согласования приема кандидата, необходимо внизу страницы «Руководители», в поле «Согласование», выбрать статус «Согласен на прием» и нажать кнопку «Применить»;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;в) Для отказа кандидату в приеме необходимо внизу страницы «Руководители» в поле «Согласование» выбрать статус «Отклонить прием» и нажать кнопку «Применить».

    </div>
    <div id="tabs4">         
        <p align=center><strong>Краткий порядок пользования программой «ПРИЕМ».</strong></p>
        <p align=center><strong>(Для специалиста Департамента безопасности)</strong></p>

        1. При появлении новых электронных анкет кандидатов в программе «ПРИЕМ» и заполнением кандидатом электронной анкеты, на общий электронный почтовый адрес Департамента безопасности list-priem-bezopas@sovcombank.ru приходит сообщение о необходимости
        согласования приема кандидата.<br /><br />
        2. Для просмотра электронной анкеты кандидата в программе «ПРИЕМ» специалисту Департамента безопасности необходимо:<br />
        &nbsp;&nbsp;&nbsp;&nbsp;а) Зайти в программу «ПРИЕМ» по адресу https://ruscount.com:8002; <br />
        &nbsp;&nbsp;&nbsp;&nbsp;б) Выбрать в реестре по приему кандидатов необходимого кандидата и нажать на ФИО кандидата для просмотра электронной анкеты.<br /><br />
        3. Для согласования электронной анкеты кандидата в программе «ПРИЕМ» специалисту Департамента безопасности необходимо:<br />
        &nbsp;&nbsp;&nbsp;&nbsp;а) Выбрать в электронной анкете кандидата страницу «Департамент безопасности»;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;б) Для положительного согласования приема кандидата с проверкой необходимо внизу страницы «Департамент безопасности» в поле «Согласование» выбрать статус «Согласен на прием» и нажать кнопку «Применить»;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;в) Для отказа кандидату в приеме или если кандидат во вкладку «Департамент безопасности» не прикрепил сканы Рукописного текста согласия на обработку персональных данных и Рукописного текста о достоверности сведений 
        необходимо внизу страницы «Департамент безопасности» в поле «Согласование» выбрать статус «Отклонить прием» и нажать кнопку «Применить»;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;г) Для согласования приема кандидата без проверки необходимо внизу страницы «Департамент безопасности» в поле «Согласование» поставить галку в поле «Без проверки» и нажать кнопку «Применить».

   
    </div>
    <div id="tabs5">            
        <p align=center><strong>Краткий порядок пользования программой «ПРИЕМ».</strong></p>
        <p align=center><strong>(Для Тренера)</strong></p>
        
        1. При появлении новых кандидатов в программе «ПРИЕМ», для которых требуется проведение обучения, Тренерам на общий электронный почтовый адрес 
        list-priem-obuch@sovcombank.ru   приходит сообщение о необходимости проведения обучения кандидата.<br /><br />
        2. После проведения обучения кандидата Тренеру в программе «ПРИЕМ», необходимо:<br />
        &nbsp;&nbsp;&nbsp;&nbsp;а) Зайти в программу «ПРИЕМ» по адресу https://ruscount.com:8002; <br />
        &nbsp;&nbsp;&nbsp;&nbsp;б) Выбрать в реестре по приему кандидатов необходимого кандидата и нажать на ФИО кандидата для заполнения страницы «Обучение»;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;в) Заполнить страницу «Обучение» и нажать на кнопку «Записать».



    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("empInstruction");
        $('#tabs').tabs();
    });
</script>
    

