@{
    Layout = null;
    ViewBag.Title = "Приказ о приеме";
}

<HTML xmlns:o = "urn:schemas-microsoft-com:office:office"><HEAD>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<META name=GENERATOR content="MSHTML 11.00.9600.16521"></HEAD>
<BODY>
<P class=MsoNormal style="MARGIN: 0cm 0cm 6pt 333.1pt"><A name=_GoBack></A><SPAN style="FONT-SIZE: 8pt">Унифицированная форма № Т-1<BR>Утверждена Постановлением Госкомстата России<BR>от 05.01.2004 № 1<o:p></o:p></SPAN></P>
<TABLE class=MsoNormalTable style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 1.4pt; mso-table-layout-alt: fixed; mso-padding-alt: 0cm 1.4pt 0cm 1.4pt" cellSpacing=0 cellPadding=0 border=0>
<TBODY>
<TR style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 0; mso-yfti-firstrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 361.5pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=482>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 77.95pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=104 colSpan=2>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 70.9pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-alt: solid windowtext .5pt" vAlign=bottom width=95>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><FONT size=2>Код</FONT></P></TD></TR>
<TR style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 1">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 361.45pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=482>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 77.95pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=104 colSpan=2>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><FONT size=2>Форма по ОКУД</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 70.9pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt" vAlign=bottom width=95>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><FONT size=2>0301001</FONT></P></TD></TR>
<TR style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 2; mso-yfti-lastrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 382.75pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=510 colSpan=2>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>Общество с ограниченной ответственностью Инвестиционный коммерческий банк "Совкомбанк"&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 2cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=76>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt 9.9pt"><FONT size=2>по ОКПО</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 70.9pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt" vAlign=bottom width=95>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>9139030&nbsp;</FONT></o:p></P></TD></TR>
<TR>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8; BACKGROUND-COLOR: transparent" width=482></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8; BACKGROUND-COLOR: transparent" width=28></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8; BACKGROUND-COLOR: transparent" width=76></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8; BACKGROUND-COLOR: transparent" width=95></TD></TR></TBODY></TABLE>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 127.5pt 12pt 0cm" align=center><SPAN style="FONT-SIZE: 8pt">(наименование организации)</SPAN><SPAN lang=EN-US style="FONT-SIZE: 8pt; mso-ansi-language: EN-US"><o:p></o:p></SPAN></P>
<TABLE class=MsoNormalTable style="BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: medium none; MARGIN: auto auto auto 1.4pt; BORDER-LEFT: medium none; mso-table-layout-alt: fixed; mso-padding-alt: 0cm 1.4pt 0cm 1.4pt; mso-border-alt: solid windowtext .5pt; mso-border-insideh: .5pt solid windowtext; mso-border-insidev: .5pt solid windowtext" cellSpacing=0 cellPadding=0 border=1>
<TBODY>
<TR style="mso-yfti-irow: 0; mso-yfti-firstrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 286.35pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=382>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 92.1pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-alt: solid windowtext .5pt" vAlign=top width=123>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><FONT size=2>Номер документа</FONT></P></TD>
<TD style="BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 92.15pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt" width=123>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><FONT size=2>Дата составления</FONT></P></TD></TR>
<TR style="mso-yfti-irow: 1; mso-yfti-lastrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 286.35pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=382>
<P class=MsoNormal style="TEXT-ALIGN: right; MARGIN: 0cm 5.65pt 0pt 0cm" align=right><B><SPAN style="FONT-SIZE: 12pt">ПРИКАЗ<o:p></o:p></SPAN></B></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 92.1pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt" vAlign=bottom width=123>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><B><SPAN style="FONT-SIZE: 12pt"><o:p>&nbsp;</o:p></SPAN></B></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 92.15pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt" vAlign=bottom width=123>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><B><SPAN style="FONT-SIZE: 12pt"><o:p>&nbsp;</o:p></SPAN></B></P></TD></TR></TBODY></TABLE>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><B><SPAN style="FONT-SIZE: 12pt">(распоряжение)<o:p></o:p></SPAN></B></P>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 12pt" align=center><B><SPAN style="FONT-SIZE: 12pt">о приеме работника на работу<o:p></o:p></SPAN></B></P>
<DIV align=right>
<TABLE class=MsoNormalTable style="BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; mso-table-layout-alt: fixed; mso-padding-alt: 0cm 1.4pt 0cm 1.4pt; mso-border-alt: solid windowtext .5pt; mso-border-insideh: .5pt solid windowtext; mso-border-insidev: .5pt solid windowtext" cellSpacing=0 cellPadding=0 border=1>
<TBODY>
<TR style="mso-yfti-irow: 0; mso-yfti-firstrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.7pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=180>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 63.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=85>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 106.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-alt: solid windowtext .5pt" vAlign=bottom width=142>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><FONT size=2>Дата</FONT></P></TD></TR>
<TR style="mso-yfti-irow: 1">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.7pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=180>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><B><SPAN style="FONT-SIZE: 11pt">Принять на работу<o:p></o:p></SPAN></B></P></TD>
<TD style="BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 63.8pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-alt: solid windowtext .5pt" vAlign=bottom width=85>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><FONT size=2>с</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 106.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt" vAlign=bottom width=142>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD></TR>
<TR style="mso-yfti-irow: 2; mso-yfti-lastrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.7pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=180>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 63.8pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: windowtext 1pt solid; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt" vAlign=bottom width=85>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><FONT size=2>по</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 106.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt" vAlign=bottom width=142>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD></TR></TBODY></TABLE></DIV>
<P class=MsoNormal style="MARGIN: 12pt 0cm 0pt"><SPAN lang=EN-US style="mso-ansi-language: EN-US"><o:p><FONT size=2>&nbsp;</FONT></o:p></SPAN></P>
<TABLE class=MsoNormalTable style="BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: medium none; MARGIN: auto auto auto 1.4pt; BORDER-LEFT: medium none; mso-table-layout-alt: fixed; mso-padding-alt: 0cm 1.4pt 0cm 1.4pt; mso-border-alt: solid windowtext .5pt; mso-border-insideh: .5pt solid windowtext; mso-border-insidev: .5pt solid windowtext" cellSpacing=0 cellPadding=0 border=1>
<TBODY>
<TR style="mso-yfti-irow: 0; mso-yfti-firstrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 404pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-right-alt: solid windowtext .5pt" vAlign=bottom width=539>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN lang=EN-US style="mso-ansi-language: EN-US"><o:p><FONT size=2>&nbsp;</FONT></o:p></SPAN></P></TD>
<TD style="BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 106.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-top-alt: solid windowtext .5pt; mso-border-bottom-alt: solid windowtext .5pt; mso-border-right-alt: solid windowtext .5pt" vAlign=bottom width=142>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><FONT size=2>Табельный номер</FONT></P></TD></TR>
<TR style="mso-yfti-irow: 1; mso-yfti-lastrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 404pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt; mso-border-right-alt: solid windowtext .5pt" vAlign=bottom width=539>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN lang=EN-US style="mso-ansi-language: EN-US"><o:p><FONT size=2>&nbsp;</FONT></o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: windowtext 1pt solid; WIDTH: 106.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-alt: solid windowtext .5pt; mso-border-top-alt: solid windowtext .5pt; mso-border-left-alt: solid windowtext .5pt" vAlign=bottom width=142>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN lang=EN-US style="mso-ansi-language: EN-US"><o:p><FONT size=2>&nbsp;</FONT></o:p></SPAN></P></TD></TR></TBODY></TABLE>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 106.3pt 12pt 0cm" align=center><SPAN style="FONT-SIZE: 8pt">(фамилия, имя, отчество)<o:p></o:p></SPAN></P>
<TABLE class=MsoNormalTable style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 1.4pt; mso-table-layout-alt: fixed; mso-padding-alt: 0cm 1.4pt 0cm 1.4pt" cellSpacing=0 cellPadding=0 border=0>
<TBODY>
<TR style="mso-yfti-irow: 0; mso-yfti-firstrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=19>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><FONT size=2>в</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 496.1pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=661>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD></TR>
<TR style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 1">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=19>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 496.1pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=661>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt">(структурное подразделение)<o:p></o:p></SPAN></P></TD></TR>
<TR style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 2">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 18cm; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=680 colSpan=2>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD></TR>
<TR style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 3">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 18cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=680 colSpan=2>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt">(должность (специальность, профессия), разряд, класс (категория) квалификации)<o:p></o:p></SPAN></P></TD></TR>
<TR style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 4">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 18cm; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=680 colSpan=2>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD></TR>
<TR style="HEIGHT: 19.1pt; PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 5">
<TD style="BORDER-TOP: #d4d0c8; HEIGHT: 19.1pt; BORDER-RIGHT: #d4d0c8; WIDTH: 18cm; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=680 colSpan=2>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD></TR>
<TR style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 6; mso-yfti-lastrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 18cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=680 colSpan=2>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt">(условия приема на работу, характер работы)<o:p></o:p></SPAN></P></TD></TR></TBODY></TABLE>
<P class=MsoNormal style="MARGIN: 36pt 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P>
<TABLE class=MsoNormalTable style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 1.4pt; mso-table-layout-alt: fixed; mso-padding-alt: 0cm 1.4pt 0cm 1.4pt" cellSpacing=0 cellPadding=0 border=0>
<TBODY>
<TR style="mso-yfti-irow: 0; mso-yfti-firstrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=236>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><FONT size=2>с тарифной ставкой (окладом)</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=180>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=38>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><FONT size=2>руб.</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=28>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=198>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><FONT size=2>коп.</FONT></P></TD></TR>
<TR style="mso-yfti-irow: 1; mso-yfti-lastrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=236>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=180>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt">(цифрами)<o:p></o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=38>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=28>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=198>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD></TR></TBODY></TABLE>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P>
<TABLE class=MsoNormalTable style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 1.4pt; mso-table-layout-alt: fixed; mso-padding-alt: 0cm 1.4pt 0cm 1.4pt" cellSpacing=0 cellPadding=0 border=0>
<TBODY>
<TR style="mso-yfti-irow: 0; mso-yfti-firstrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=236>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt 83.65pt"><FONT size=2>надбавкой</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=top width=180>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=38>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><FONT size=2>руб.</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=top width=28>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=198>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><FONT size=2>коп.</FONT></P></TD></TR>
<TR style="mso-yfti-irow: 1; mso-yfti-lastrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 177.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=236>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt 83.65pt"><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 134.65pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=180>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt">(цифрами)<o:p></o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 1cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=38>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 21.3pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=28>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 148.8pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=198>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD></TR></TBODY></TABLE>
<P class=MsoNormal style="MARGIN: 24pt 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P>
<TABLE class=MsoNormalTable style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 1.4pt; mso-table-layout-alt: fixed; mso-padding-alt: 0cm 1.4pt 0cm 1.4pt" cellSpacing=0 cellPadding=0 border=0>
<TBODY>
<TR style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 0; mso-yfti-firstrow: yes; mso-yfti-lastrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 127.6pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=170>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><FONT size=2>с испытанием на срок</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 328.85pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=438>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 53.85pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=72>
<P class=MsoNormal style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><FONT size=2>месяца(ев)</FONT></P></TD></TR></TBODY></TABLE>
<P class=MsoNormal style="MARGIN: 18pt 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><SPAN style="FONT-SIZE: 11pt">Основание:</SPAN></P>
<TABLE class=MsoNormalTable style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 2.8pt; mso-table-layout-alt: fixed; mso-padding-alt: 0cm 2.8pt 0cm 2.8pt" cellSpacing=0 cellPadding=0 border=0>
<TBODY>
<TR style="mso-yfti-irow: 0; mso-yfti-firstrow: yes; mso-yfti-lastrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 130.4pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=174>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt; TEXT-INDENT: 26.95pt"><FONT size=2>Трудовой договор от “</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 19.85pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=26>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 11.35pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=15>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><FONT size=2>”</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 83.65pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=112>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 18.45pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=25>
<P class=MsoNormal style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><FONT size=2>20</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 17pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=23>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 31.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=42>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><FONT size=2>г.<SPAN style="mso-spacerun: yes">&nbsp; </SPAN>№</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 63.8pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 2.8pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 2.8pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=85>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD></TR></TBODY></TABLE>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P>
<TABLE class=MsoNormalTable style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 1.4pt; mso-table-layout-alt: fixed; mso-padding-alt: 0cm 1.4pt 0cm 1.4pt" cellSpacing=0 cellPadding=0 border=0>
<TBODY>
<TR style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 0; mso-yfti-firstrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 127.6pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=170>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><B><FONT size=2>Руководитель организации<o:p></o:p></FONT></B></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 5cm; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=top width=189>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 9.9pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=13>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 75.15pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=top width=100>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=19>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 5cm; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=top width=189>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD></TR>
<TR style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 1; mso-yfti-lastrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 127.6pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=170>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><SPAN style="FONT-SIZE: 7pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 5cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=189>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt">(должность)<o:p></o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 9.9pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=13>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 75.15pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=100>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt">(личная подпись)<o:p></o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=19>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 5cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=189>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt">(расшифровка подписи)<o:p></o:p></SPAN></P></TD></TR></TBODY></TABLE>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P>
<TABLE class=MsoNormalTable style="BORDER-COLLAPSE: collapse; MARGIN: auto auto auto 1.4pt; mso-table-layout-alt: fixed; mso-padding-alt: 0cm 1.4pt 0cm 1.4pt" cellSpacing=0 cellPadding=0 border=0>
<TBODY>
<TR style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 0; mso-yfti-firstrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 9cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=340>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><B><FONT size=2>С приказом (распоряжением) работник ознакомлен<o:p></o:p></FONT></B></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 102.05pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=136>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=19>
<P class=MsoNormal style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><FONT size=2>“</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 17pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=23>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 11.35pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=15>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><FONT size=2>”</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 65.2pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=87>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.15pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=19>
<P class=MsoNormal style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><FONT size=2>20</FONT></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 16.95pt; BORDER-BOTTOM: windowtext 1pt solid; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent; mso-border-bottom-alt: solid windowtext .5pt" vAlign=bottom width=23>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=bottom width=19>
<P class=MsoNormal style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><FONT size=2>г.</FONT></P></TD></TR>
<TR style="PAGE-BREAK-INSIDE: avoid; mso-yfti-irow: 1; mso-yfti-lastrow: yes">
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 9cm; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=340>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><B><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></B></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 102.05pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=136>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt">(личная подпись)<o:p></o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=19>
<P class=MsoNormal style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 17pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=23>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 11.35pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=15>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 65.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=87>
<P class=MsoNormal style="TEXT-ALIGN: center; MARGIN: 0cm 0cm 0pt" align=center><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.15pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=19>
<P class=MsoNormal style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 16.95pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=23>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD>
<TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 14.2pt; BORDER-BOTTOM: #d4d0c8; PADDING-BOTTOM: 0cm; PADDING-TOP: 0cm; PADDING-LEFT: 1.4pt; BORDER-LEFT: #d4d0c8; PADDING-RIGHT: 1.4pt; BACKGROUND-COLOR: transparent" vAlign=top width=19>
<P class=MsoNormal style="TEXT-ALIGN: right; MARGIN: 0cm 0cm 0pt" align=right><SPAN style="FONT-SIZE: 8pt"><o:p>&nbsp;</o:p></SPAN></P></TD></TR></TBODY></TABLE>
<P class=MsoNormal style="MARGIN: 0cm 0cm 0pt"><o:p><FONT size=2>&nbsp;</FONT></o:p></P></BODY></HTML>