@model Reports.Presenters.UI.ViewModel.Employment2.PrintPersonalDataObligationModel
@{
    Layout = null;
    ViewBag.Title = "Обязательство о соблюдении режима конфиденциальности персональных данных";
}

<HTML><HEAD>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<META name=GENERATOR content="MSHTML 11.00.9600.16521"></HEAD>
<BODY>
<P align=right><STRONG>Приложение 2 к положению<BR>об обработке персональных даннх</STRONG></P>
<P align=center><STRONG>Обязательство<BR>о соблюдении режима конфиденциальности персональных данных</STRONG></P>
<P>Я, @Model.EmployeeName</P>
<P>ОБЯЗУЮСЬ:</P>
<P>1. Не разглашать, не раскрывать публично, а также соблюдать установленный «Положением об обработке персональных данных в ПАО «Совкомбанк» порядок передачи третьим лицам сведений, 
составляющих персональные данные субъектов, которые мне будут доверены или станут известны по работе.
<BR>Выполнять относящиеся ко мне требования «Положения об обработке персональных данных в ПАО «Совкомбанк», 
приказов, распоряжений, инструкций и других локальных нормативных актов по обеспечению конфиденциальности персональных данных субъектов и соблюдению правил их обработки.</P>
<P>2. В случае попытки посторонних лиц получить от меня сведения, составляющие персональные данные субъекта, 
немедленно сообщить руководителю структурного подразделения и в Управление безопасности.</P>
<P>3. В случае моего увольнения все носители, содержащие персональные данные субъектов 
(документы, копии документов, дискеты, диски, магнитные ленты, распечатки на принтерах, черновики, кино- и фотонегативы, позитивы и пр.), 
которые находились в моем распоряжении в связи с выполнением мною трудовых обязанностей во время работы в Банке, 
передать руководителю структурного подразделения или другому сотруднику по указанию руководителя структурного подразделения.</P>
<P>4. Об утрате или недостаче документов или иных носителей, содержащих персональные данные субъектов (удостоверений, пропусков и т.п.); 
ключей от хранилищ, сейфов (металлических шкафов) и о других фактах, которые могут привести к разглашению персональных данных субъектов, 
а также о причинах и условиях возможной утечки сведений немедленно сообщить руководителю структурного подразделения и в Управление безопасности.</P>
<P>Я ознакомлен под роспись: </P>
<P>С&nbsp; «Положением о защите персональных данных в ПАО «Совкомбанк»,<BR><BR></P>
<P>
<HR>

<P></P>
<P>
<HR>

<P></P>
<P>
<HR>

<P></P>
<P align=left><BR>Мне известно, что нарушение мною обязанностей по защите персональных данных может повлечь дисциплинарную, гражданско-правовую, уголовную и иную ответственность 
в соответствии с законодательством РФ. </P>
<P align=left>
<TABLE style="WIDTH: 188pt; BORDER-COLLAPSE: collapse" cellspacing=0 cellpadding=0 width=248 align=right border=0>
<COLGROUP>
<COL style="WIDTH: 47pt; mso-width-source: userset; mso-width-alt: 2645" span=4 width=62>
<TBODY>
<TR style="HEIGHT: 15pt" height=20>
<TD class=xl66 style="BORDER-TOP: #d4d0c8; HEIGHT: 15pt; BORDER-RIGHT: #d4d0c8; WIDTH: 188pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;; mso-ignore: colspan" height=20 width=248 colSpan=4>
"____" _______________20___ г.
</TD></TR></TBODY></TABLE></P>
<P align=left>&nbsp;</P>
<P align=left>

<TABLE style="HEIGHT: 42px; WIDTH: 432px; BORDER-COLLAPSE: collapse" cellspacing=0 cellpadding=0 width=432 align=center border=0>
<COLGROUP>
<COL style="WIDTH: 47pt; mso-width-source: userset; mso-width-alt: 2645" span=9 width=62>
<TBODY>
    <TR style="HEIGHT: 13.35pt; mso-height-source: userset" height=17>
    <TD class=xl66 style="BORDER-TOP: #d4d0c8; HEIGHT: 13.35pt; BORDER-RIGHT: #d4d0c8; WIDTH: 141pt; BORDER-BOTTOM: windowtext 0.5pt solid; BORDER-LEFT: #d4d0c8;" height=17 width=186 colSpan=3>
    <FONT size=2 face=Arial>&nbsp;</FONT></TD>
    <TD style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 47pt; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" width=62></TD>
    <TD class=xl67 style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; WIDTH: 235pt; BORDER-BOTTOM: windowtext 0.5pt solid; BORDER-LEFT: #d4d0c8;" width=310 colSpan=5>
        <P align=center>@Model.EmployeeNameShortened<FONT size=2></FONT></P></TD>
    </TR>

    <TR style="HEIGHT: 12pt" height=16>
    <TD class=xl68 style="BORDER-TOP: #d4d0c8; HEIGHT: 12pt; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" height=16 colSpan=3>
    <P align=center><FONT size=2>(подпись)</FONT></P></TD>
    <TD class=xl65 style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;"></TD>
    <TD class=xl68 style="BORDER-TOP: #d4d0c8; BORDER-RIGHT: #d4d0c8; BORDER-BOTTOM: #d4d0c8; BORDER-LEFT: #d4d0c8;" colSpan=5>
        <P align=center><FONT size=2>(Ф.И.О. сотрудника)</FONT></P></TD>
    </TR>
</TBODY>
</TABLE>

</P>
<P align=left>&nbsp;</P></BODY></HTML>