@model Reports.Presenters.UI.ViewModel.Employment2.PrintAgreePersonForCheckingModel
@{
    Layout = null;
    ViewBag.Title = "Согласие физического лица на проверку персональных данных (Приложение №3)";
}

<HTML><HEAD>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<META name=GENERATOR content="MSHTML 11.00.9600.16521"></HEAD>
<BODY>
  <br /><br />
<P align=center><img src="../../Content/SKB_logo.png" /></P><br /><br />

    <div style="text-align:right;">
        <strong> Приложение №3<br />
        к Приказу №194/ОД от 26.05.2010г. 
</strong>
    </div>
    <br /><br />

    <p align=center><b><font size="5">Согласие физического лица на проверку персональных данных</font></b></p>
    <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Я даю согласие на обработку следующих персональных данных: фамилия, прежняя фамилия, имя, отчество, пол, год, месяц, число и место рождения, адрес места жительства и регистрации, семейное, 
    социальное, имущественное положение, образование, профессия, место работы, доходы, счета в кредитных организациях, серия и номер документа, удостоверяющего личность, дата выдачи и орган,
    его выдавший, сведения об иных документах, контактная информация, а также иных данных, указанных мной в анкете. Настоящее согласие может быть отозвано только при наличии письменного согласия Банка на 
    его отзыв в порядке направления соответствующего письменного отзыва в Банк. <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;В соответствии с требованиями Федерального закона № 218-ФЗ «О кредитных историях» от 30.12.2004 года я также разрешаю Банку предоставлять в 
    бюро кредитных историй всю имеющуюся информацию, определенную статьей 4 Федерального закона № 218-ФЗ «О кредитных историях» от 30.12.2004 года, а также делать запросы о моей кредитной истории в бюро 
    кредитных историй в порядке и на условиях, предусмотренных действующим законодательством Российской Федерации.
    </p><br /><br />
    <p align=center>@Model.EmployeeName @for (int i = 0; i < 50; i++) { <text>&nbsp;</text> i += 1;}   _________________________</p>
    
    @for (int i = 0; i < 120; i++) { <text>&nbsp;</text> i += 1;}<font size="2">(подпись)</font>
    <br /><br />
    <p align=right>@(Model.EmploymentDate.HasValue ? Model.EmploymentDate.Value.ToLongDateString() : "«____» ___________________  20   г.") @for (int i = 0; i < 10; i++) { <text>&nbsp;</text> i += 1;}</p>

