@model Reports.Presenters.UI.ViewModel.Employment2.SignersModel
@{
    ViewBag.Title = "Прием - Справочник подписантов";
}

@using (Html.BeginForm("Signers", "Employment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="doc-wrap">
        @Html.EditorForModel()
        <br />
        <button type="submit">Сохранить</button>
    </div>
}