@model Reports.Presenters.UI.ViewModel.Employment2.SignersModel
@{
    Layout = "~/Views/Shared/_LayoutEmployment.cshtml";
    ViewBag.Title = "Прием - Справочник подписантов";
}

<fieldset class="bordered doc-wrap panel">
<legend>Справочник подписантов</legend>
    <table>
        @foreach(var signer in @Model.Signers)
        {
            <tr>
                <td>@signer.Name</td>
            </tr>
        }
    </table>
    <button id="add-signer">Добавить</button>
</fieldset>

<div id="add-signer-dialog" title="Добавление подписанта">
    @using (Html.BeginForm("Signers", "Employment", FormMethod.Post))
    {
        <label for="Name" style="display:block;">ФИО</label><input type="text" name="Name" value="" class="text ui-widget-content ui-corner-all" style="display:block;" />
        <label for="PreamblePartyTemplate" style="display:block;">Сторона в преамбуле договора</label><input type="text" name="PreamblePartyTemplate" value="" class="text ui-widget-content ui-corner-all" style="display:block;" />
 
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px" />
    }
</div>

<script>
    $(document).ready(function () {
        setActiveMenuItem("empSigners");

        var $addSignerDialog = $('#add-signer-dialog').dialog(
        {
            autoOpen: false,
            modal: true,
            width: "auto",
            draggable: false,
            resizable: false,
            buttons:
            {
                "OK": function () {
                    $('#add-signer-dialog form').submit();
                    $(this).dialog("close");
                },
                "Отмена": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#add-signer").click(function (e) {
            $addSignerDialog.dialog("open");
            e.preventDefault();
        });
    });
</script>