@using Reports.Presenters.Services.Impl
@using Reports.Core
@{
	var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
}
@if ((dto.UserRole & UserRole.Manager) > 0
	//|| (dto.UserRole & UserRole.Director) > 0
	|| (dto.UserRole & UserRole.OutsourcingManager) > 0
	|| (dto.UserRole & UserRole.Estimator) > 0
	|| (dto.UserRole & UserRole.StaffManager) > 0
	|| (dto.UserRole & UserRole.ConsultantPersonnel) > 0
	|| (dto.UserRole & UserRole.PersonnelManager) > 0
	|| (dto.UserRole & UserRole.Security) > 0
	|| (dto.UserRole & UserRole.Trainer) > 0
	)
{
	<div class="menuitem" id="appInstruction">@Html.ActionLink("Инструкция", "Instruction", "Appointment")</div>
	if (!((dto.UserRole & UserRole.Trainer) > 0))
	{
		<div class="menuitem" id="appAllRequests">@Html.ActionLink("Реестр заявок на подбор", "Index", "Appointment")</div>
	}
	if (dto.UserRole != UserRole.Manager || true)
	{
		<div class="menuitem" id="appAllReports">@Html.ActionLink("Реестр отчетов по подбору", "AppointmentReportList", "Appointment")</div>
	}
}