<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ReportsTaskRunner.Properties.Settings.WebAppDBConnectionString"
      connectionString="Data Source=WEBSRV\SQLEXPRESS;Initial Catalog=WebAppTest;Persist Security Info=True;User ID=sa;Password=nhbrkfaktrc"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
