@model Reports.Presenters.UI.ViewModel.StaffList.StaffDepartmentSoftReferenceModel
@{
    if (!Model.IsModal)
    {
        Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
        ViewBag.Title = "Справочник ПО";        
    }
}


@using (Html.BeginForm("StaffDepartmentSoftReference", "StaffList", FormMethod.Post, new { enctype = "multipart/form-data", id = "StaffDepartmentSoftReferenceForm" }))
{
    @Html.HiddenFor(m => m.TabIndex)
    @Html.HiddenFor(m => m.IsModal)
    <div id="tabs">
        <ul>
            <li><a href="/StaffList/StaffDepartmentSoftGroup">Группы ПО</a></li>
            <li><a href="/StaffList/StaffDepartmentInstallSoft">ПО</a></li>
            <li><a href="/StaffList/StaffDepartmentSoftGroupLinks">Связи ПО с группами</a></li>
        </ul>

        <div id="tab1"></div>
        <div id="tab2"></div>
        <div id="tab3"></div>

    </div>
    
    <div id="DivIndicatorSR" style="display:none;">
        <table>
            <tr>
                <td><span id="LoadingIndicator2"></span></td>
                <td><label>Идет загрузка данных...</label></td>
            </tr>
        </table>
    </div>
    
}


<script type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("moSoftReference");

        if (!$("#IsModal").val()) {
            ShowFlashSR(true);
        }

        $.ajaxSetup({ cache: false });
        //вкладки обрабатываются не так как в приеме, потому что разные версии JQuery (в приеме старая версия)
        $("#tabs").tabs({
            spinner: "<em>Загрузка...</em>",
            beforeLoad: function (event, ui) {
                ui.jqXHR.fail(function () {
                    ui.panel.html("Возникла ошибка при загрузке страницы!");
                    if (!$("#IsModal").val()) {
                        ShowFlashSR(false);
                    }
                });
            },
            collapsible: true,
            cache: false,
            ajaxOptions: { cache: false },
            load: function (event, ui) { 
                if (!$("#IsModal").val()) {
                    ShowFlashSR(false);
                }
            },
            active: $("#TabIndex").val(),
            activate: function () {
                if (!$("#IsModal").val()) {
                    ShowFlashSR(true);
                }
            }
        });

        $(document).tooltip({ track: true });
        $(":button").button();
    });

    function ShowFlashSR(IsShow)  //показываем индикатор загрузки
    {
        if (!IsShow) {
            $(".ui-dialog-titlebar").show();
            $(".ui-dialog-titlebar-close").show();
            $("#LoadingIndicator2").removeClass("loading2");
            if (!$("#IsModal").val()) {
                $("#DivIndicatorSR").dialog("close");
            }
            $("#DivIndicatorSR").hide();
        }
        else {
            $("#LoadingIndicator2").addClass("loading2");
            $("#DivIndicatorSR").show();
            $("#DivIndicatorSR").dialog(
            { // initialize dialog box
                autoOpen: true,
                modal: true,
                // fix IE6  
                bgiframe: true,
                draggable: false,
                resizable: false,
                width: 300,
                height: 100,
                closeOnEscape: false,
                close: function (event, ui) {
                    //$(this).dialog("destroy").remove();
                }
            });
            $(".ui-dialog-titlebar").hide();
            $(".ui-dialog-titlebar-close").hide();
                if (!$("#IsModal").val()) {
                    $("#DivIndicatorSR").dialog("open");
                }
        }
    }
</script>
