@model Reports.Presenters.UI.ViewModel.StaffList.StaffDepartmentSoftReferenceModel
@{
    Layout = "~/Views/Shared/_LayoutStaffList.cshtml";
    ViewBag.Title = "Справочник ПО";        
}


@using (Html.BeginForm("StaffDepartmentSoftReference", "StaffList", FormMethod.Post, new { enctype = "multipart/form-data", id = "StaffDepartmentSoftReferenceForm" }))
{
    @Html.HiddenFor(m => m.TabIndex)

    <div id="tabs">
        <ul>
            <li><a href="/StaffList/StaffDepartmentSoftGroup">Группы ПО</a></li>
            <li><a href="/StaffList/StaffDepartmentInstallSoft">ПО</a></li>
            <li><a href="/StaffList/StaffDepartmentSoftGroupLinks">Связи ПО с группами</a></li>
        </ul>

        <div id="tab1"></div>
        <div id="tab2"></div>
        <div id="tab3"></div>

    </div>
    
    <div id="DivIndicator" style="display:none;">
        <table>
            <tr>
                <td><span id="LoadingIndicator2"></span></td>
                <td><label>Идет загрузка данных...</label></td>
            </tr>
        </table>
    </div>
    
}


<script type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("moSoftReference");

        ShowFlash(true);

        $.ajaxSetup({ cache: false });
        //вкладки обрабатываются не так как в приеме, потому что разные версии JQuery (в приеме старая версия)
        $("#tabs").tabs({
            spinner: "<em>Загрузка...</em>",
            beforeLoad: function (event, ui) {
                ui.jqXHR.fail(function () {
                    ui.panel.html("Возникла ошибка при загрузке страницы!");
                    ShowFlash(false);
                });
            },
            collapsible: true,
            cache: false,
            ajaxOptions: { cache: false },
            load: function (event, ui) { /*ShowFlash(true);ui.panel.html("Загрузка данных...!");*/
                //ui.jqXHR.done(function () { ShowFlash(false); })
                ShowFlash(false);
            },
            active: $("#TabIndex").val(),
            activate: function () { ShowFlash(true); }
        });

        $(document).tooltip({ track: true });
        $(":button").button();
    });

    function ShowFlash(IsShow)  //показываем индикатор загрузки
    {
        if (!IsShow) {
            $(".ui-dialog-titlebar").show();
            $(".ui-dialog-titlebar-close").show();
            $("#LoadingIndicator2").removeClass("loading2");
            $("#DivIndicator").dialog("close");
            $("#DivIndicator").hide();
        }
        else {
            $("#LoadingIndicator2").addClass("loading2");
            $("#DivIndicator").show();
            $("#DivIndicator").dialog(
            { // initialize dialog box
                autoOpen: true,
                modal: true,
                // fix IE6  
                bgiframe: true,
                draggable: false,
                resizable: false,
                width: 300,
                height: 100,
                closeOnEscape: false,
                close: function (event, ui) {
                    //$(this).dialog("destroy").remove();
                }
            });
            $(".ui-dialog-titlebar").hide();
            $(".ui-dialog-titlebar-close").hide();
            $("#DivIndicator").dialog("open");
        }
    }
</script>
