@model Reports.Presenters.UI.ViewModel.StaffList.TreeViewModel
@using Reports.Presenters.UI.Bl.Impl;

@{
    Layout = "~/Views/Shared/_LayoutStaffList.cshtml";
    ViewBag.Title = "Тест Дерева";
}

@using (Html.BeginForm("TreeView", "StaffList", FormMethod.Post, new { enctype = "multipart/form-data", id = "TreeView-form" }))
{
    <div class="filter-wrap">
        @*
        <table>
            <thead>
                <tr>
                    <th>Подразделение</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        *@

        @foreach (var item in Model.Departments.OrderBy(x => x.Code))
        {
            <i>
                <span>
                    @item.Name
                </span>
            </i><br />
        }
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("moTreeView");
    });
</script>