@model Reports.Presenters.UI.ViewModel.InstructionsViewModel
@{
    Layout = "~/Views/Shared/_LayoutMissionOrder.cshtml";
    ViewBag.Title = "Инструкция";
}
@using (Html.BeginForm())
{
    <table style="width:100%">
        <tr>
            <td>
                <a href="/Content/files/pamjatka-komandirovki.doc">Памятка отбывающего в командировку</a>
            </td>
        </tr>
    </table> 
}
<script type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("moInstructions");
    });
</script> 
