@model Reports.Presenters.UI.ViewModel.InstructionsViewModel
@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    ViewBag.Title = "Инструкция";
}

<table style="width:100%">
    
    <tr>
        <td>
            <a href="/Content/files/pamjatka-komandirovki.xls">Памятка отбывающего в командировку</a>
        </td>
    </tr>
        
    <tr>
        <td>
            <a href="/Content/files/InstrukcijaDljaSotrudnika.pdf">Инструкция для сотрудника</a>
        </td>
    </tr>

    @* BEGIN DELETE

    <tr>
        <td>
            <a href="/Content/files/InstrukcijaOpisanieDejstvij.pdf">Инструкция описание действий</a>
        </td>
    </tr>
             
    END DELETE *@

    <tr>
        <td class="announcement" style="width: 600px; min-width: 50%; padding: 10px;">
            <p style="text-decoration: underline;">
                Если Вы первый раз работаете с программой &laquo;Приказ на командировку (подотчет)&raquo;, или у Вас появились вопросы по работе программы,
                прочитайте, пожалуйста, данную краткую инструкцию.
            </p>
            <p style="text-decoration: underline; font-weight: bold;">
                Если Вы не найдете ответ на свой вопрос или не сможете самостоятельно разобраться, тогда задавайте вопросы в Техподдержку.
            </p>
            <p style="">
                Программа &laquo;Приказ на командировку (подотчет)&raquo; является ПЛАТЕЖНОЙ СИСТЕМОЙ.
                После определенного набора согласований формируется АВТОМАТИЧЕСКИ ПЛАТЕЖНОЕ ПОРУЧЕНИЕ на ПЕРЕЧИСЛЕНИЕ денежных средств на Ваш лицевой счет,
                или реестр на УДЕРЖАНИЕ из Вашей заработной платы излишне израсходованных Вами средств по командировке.
                Будьте внимательны при работе с данной программой, неправильное заполнение Приказа или Авансового отчета приведет к негативным последствиям.
            </p>
            <p style="">
                С 1 августа 2014 действует новый порядок согласования Командировок (получения денег в подотчет) и предоставления Авансовых отчетов по произведенным расходам.
                Ручной ввод заявок в Командировки-Табель закрыт для сотрудников и руководителей.
            </p>

            <h2 style="max-width: 80%; margin: 0 auto; text-align: center; text-transform: uppercase;">
                Краткий порядок пользования программой<br />&laquo;Приказ на командировки (подотчет)&raquo;
            </h2>

            <h3 style="max-width: 70%; margin: 0 auto; text-align: center; text-transform: uppercase;">
                Приказ
            </h3>
            
            <ol type="1" start="1" style="">
                <li>
                    Сотрудник создает приказ на командировку (заполняет цель, маршрут, дату, сумму в подотчет (необходимую), отмечает поле для секретариата,
                    если билеты и проживание будет оплачивать банк, а не самостоятельно сотрудник) (см. стр. 4, 5 инструкции для сотрудника
                    по заполнению программы &laquo;Приказ на командировку (подотчет)&raquo; далее ИС).
                    <ol type="a" style="">
                        <li>
                            ВАЖНО!!! Сотруднику обязательно
                            <span style="text-decoration: underline;">необходимо указать сумму денежных средств в подотчет в поле &laquo;Аванс на командировку&raquo;</span>,
                            иначе сотрудник не получит командировочные (см. стр.4 ИС).
                        </li>
                        <li>
                            ВАЖНО!!! Сотруднику необходимо заполнять поля для секретариата
                            (отмечать галками, что оплата идет со счета организации в поле &laquo;Заказ билетов/гостиницы через секретариат&raquo;),
                            <span style="text-decoration: underline;">только в случае если покупать билеты и/или оплачивать командировку будет Секретариат (Банк)</span>,
                            а не самостоятельно сотрудник (см. стр.4 ИС).
                        </li>
                        <li>
                            Обращаем внимание: у сотрудника есть возможность сохранить черновик перед отправкой на согласование,
                            чтобы внимательно проверить заполненные данные. После отправки на согласование исправления будет внести невозможно (см. стр.4 ИС)
                        </li>
                        <li>
                            Если появилась необходимость Руководителю создать <span style="text-decoration: underline;">Приказ на командировку ЗА СОТРУДНИКА</span>,
                            Руководитель во вкладке &laquo;Приказ-реестр&raquo; нажимает на кнопку &laquo;Создать заявку&raquo;,
                            выбирает из справочника, за какого сотрудника нужно создать приказ на командировку,
                            нажимает кнопку &laquo;Создать&raquo; и заполняет поля приказа на командировку.
                            Согласование сотрудника в этом случае ставится <span style="text-decoration: underline;">автоматически</span>.
                            Если руководитель создает приказ на командировку за сотрудника, то сотрудник вносить правки в эту заявку не может.
                            <span style="text-decoration: underline;">Приказ за сотрудника может редактировать только руководитель, создавший его</span>.
                        </li>
                    </ol>
                </li>                
            </ol>

            <h3 style="max-width: 70%; margin: 0 auto; text-align: center; text-transform: uppercase;">
                Согласование приказа
            </h3>

            <ol start="2" style="">
                <li>
                    Согласовывает: Руководитель (6), Руководитель БГ (5), Руководитель Управления АУПа (5), Руководитель Управления Дирекций (4),
                    Региональный директор, Заместитель (3), Руководитель департаментов АУПа, Заместитель (3).
                    <ol type="a" style="">
                        <li>
                            Обращаем Ваше внимание: Руководители (5 или 3) могут отклонить командировку до состояния &laquo;СОГЛАСОВАН&raquo;,
                            в этом случае у сотрудника Приказ возвращается в состояние &laquo;Черновик&raquo;, который в дальнейшем можно использовать.
                        </li>
                    </ol>
                </li>
                <li>
                    Если командировка свыше 7 календарных дней или приходится на выходные, праздничные дни,
                    требуется согласование Члена Правления (Спиваков А.Д., Хотимский С.В., Оснос А.П.),
                    при этом сотруднику необходимо указать причину командировки в выходные/праздничные дни (обязательное поле) (см. стр.4 ИС).
                </li>
                <li>
                    Секретари могут заполнять поля для секретариата, если в реестре приказов в колонке &laquo;Секретариат&raquo;
                    <span style="text-decoration: underline;">есть значение &laquo;Заказ&raquo;</span>,
                    и в колонке состояние есть значение <span style="text-decoration: underline;">&laquo;Согласован&raquo; или &laquo;Выгружен в 1С&raquo; (см. стр.5 ИС)</span>.
                </li>
            </ol>

            <h3 style="max-width: 70%; margin: 0 auto; text-align: center; text-transform: uppercase;">
                Перечисление аванса на командировку
            </h3>

            <ol start="5" style="">
                <li>
                    После согласования Руководителями, Членами Правления (одобрения),
                    ежедневно в 10-00 мск подотчетная сумма <span style="text-decoration: underline;">автоматически</span> выгружается для бухгалтерии банка
                    для обработки и перечисления через отдел Пластиковых карт на лицевой счет сотрудника.
                </li>
                <li>
                    После согласований руководством автоматически создается Заявка в Командировках-Табель
                    с согласованными полями &laquo;Сотрудник&raquo;, &laquo;Руководитель&raquo;. Далее с данной заявкой работает Кадровая служба.
                </li>
            </ol>

            <h3 style="max-width: 70%; margin: 0 auto; text-align: center; text-transform: uppercase;">
                Авансовый отчет
            </h3>

            <ol start="7" style="">
                <li>
                    При согласовании Приказа <span style="text-decoration: underline; font-weight: bold;">автоматически</span>
                    <span style="text-decoration: underline;">создается форма авансового отчета</span> (см. стр.7, 9-14 ИС).
                </li>
                <li>
                    По возвращении из командировки Сотрудник (роль - Сотрудник) должен зайти во вкладку &laquo;Авансовый отчет - реестр&raquo;
                    и выбрать из списка нужный авансовый отчет, через номер авансового отчета войти в документ и заполнить авансовый отчет (см. стр.6 ИС).
                    <ol type="a" style="">
                        <li>
                            Обращаем Ваше внимание, что при создании приказа на командировку руководителем за сотрудника, авансовый отчет заполняется сотрудником.
                        </li>
                    </ol>
                </li>
            </ol>

            <h3 style="max-width: 70%; margin: 0 auto; text-align: center; text-transform: uppercase;">
                Изменение даты и маршрута в приказе
            </h3>

            <ol start="9" style="">
                <li>
                    <span style="text-decoration: underline;">Если даты и/или маршрут</span> командировки по факту оказались измененными,
                    сотрудник при заполнении авансового отчета может создать дополнительный приказ,
                    нажав на кнопку &laquo;Создать изменение приказа на командировку&raquo; в самом авансовом отчете.
                    После появления формы дополнительного приказа, сотрудник может поменять даты и/или маршрут командировки.
                    Посмотреть дополнительный приказ можно из вкладки &laquo;Приказ-реестр&raquo;,
                    нажав на номер дополнительного приказа в колонке &laquo;Номер изм.приказа&raquo; (см. стр.3, 7, 8 ИС).
                    <ol type="a" style="">
                        <li>
                            Обращаем ваше внимание: в случае создания сотрудником дополнительного приказа,
                            он должен быть согласован руководителем и членом правления (при необходимости).
                            Без согласования дополнительного приказа в случае его создания заполнение авансового отчета будет недоступно (см. стр.8 ИС).
                        </li>
                    </ol>
                </li>
            </ol>

            <h3 style="max-width: 70%; margin: 0 auto; text-align: center; text-transform: uppercase;">
                Заполнение авансового отчета
            </h3>

            <ol start="10" style="">
                <li>
                    Сотрудником заполняется колонка &laquo;Оплачено фактически сотрудником&raquo; (см. стр.7 ИС).
                    <ol type="a" style="">
                        <li>
                            Для этого необходимо через кнопку &laquo;Добавить расход&raquo; войти в справочник расходов,
                            выбрать нужный расход, ввести сумму расхода и нажать &laquo;Сохранить&raquo; (см. стр. 7, 9 ИС).
                        </li>
                        <li>
                            После сохранения программой суммы необходимо прикрепить скан подтверждающего расход документа,
                            нажав на кнопку &laquo;Прикрепить&raquo; (см. стр.10-13 ИС).
                        </li>
                        <li>
                            Данные действия необходимо повторить для каждой статьи расходов.
                        </li>
                        <li>
                            Обращаем Ваше внимание: если Вы ошиблись при совершении любого из действий по заполнения авансового отчета,
                            Вам нужно нажать кнопку &laquo;Удалить&raquo;, запись удалится, и Вы сможете заново внести верные данные (см. стр.9, 13 ИС).
                        </li>
                    </ol>
                </li>
                <li>
                    По окончании заполнения авансового отчета вам необходимо подтвердить внесенные данные,
                    поставив &laquo;галку&raquo; в окошке напротив своей фамилии и нажав кнопку &laquo;Сохранить&raquo;.
                    Авансовый отчет уйдет на согласование (см. стр.13 ИС).
                </li>
            </ol>

            <h3 style="max-width: 70%; margin: 0 auto; text-align: center; text-transform: uppercase;">
                Согласование авансового отчета
            </h3>

            <ol start="12" style="">
                <li>
                    Согласовывает: Руководитель (6), Руководитель БГ (5), Руководитель Управления АУПа (5),
                    Региональный директор, Заместитель (3), Руководитель департаментов АУПа, Заместитель (3).
                    <ol type="a" style="">
                        <li>
                            Руководитель может отклонить авансовый отчет,
                            тогда у сотрудника авансовый отчет возвращается в состояние &laquo;Черновик&raquo;, который можно редактировать.
                        </li>
                    </ol>
                </li>
                <li>
                    Бухгалтер может отклонить авансовый отчет, тогда у сотрудника авансовый отчет возвращается в состояние &laquo;Черновик&raquo;,
                    сотрудник может внести правки в авансовый отчет, при этом сотруднику после внесения правок в авансовый отчет
                    нужно будет отправить его на согласование руководителю.
                    Функция &laquo;Отклонить авансовый отчет&raquo; доступна бухгалтеру до согласования авансового отчета.
                    <ol type="a" style="">
                        <li>
                            Обращаем ваше внимание: после согласование бухгалтером авансового отчета отклонить авансовый отчет будет нельзя.
                        </li>
                    </ol>
                </li>
            </ol>

            <h3 style="max-width: 70%; margin: 0 auto; text-align: center; text-transform: uppercase;">
                Разное
            </h3>

            <ol start="14" style="">
                <li>
                    Комментарии участники процесса могут оставлять в разделе &laquo;Комментарии&raquo; в самом приказе на командировку и в авансовом отчете.
                </li>
                <li>
                    Сотрудник может проверить состояние авансового отчета во вкладке &laquo;Авансовый отчет - реестр&raquo; в колонке &laquo;Состояние&raquo; (см. стр.6 ИС).
                </li>
                <li>
                    Расчет остатков по подотчетной сумме сотруднику будет произведен программой после проверки и согласования бухгалтерией банка.
                </li>
                <li>
                    После выгрузки в 1С либо с сотрудника будет произведено удержание &laquo;долга за сотрудником&raquo;, либо доначисление сотруднику &laquo;долга за организацией&laquo;.
                </li>
            </ol>

            <h3 style="max-width: 70%; margin: 0 auto; text-align: center; text-transform: uppercase;">
                Алгоритмы исправления ошибок
            </h3>

            <h4 style="max-width: 100%; text-align: justify;">
                Вопрос 1: Билеты и/или гостиницу должен был оплатить &laquo;секретарь&raquo;, были проставлены отметки в поле &laquo;Заказ билетов/гостиницы через секретариат&raquo;,
                но по факту (по какой-то причине) сотрудник заплатил за билеты и/или гостиницу сам. Авансовый отчет программа не дает заполнить.
            </h4>

            <p>
                Ответ: При отметке в поле &laquo;Заказ билетов/гостиницы через секретариат&raquo; программа заносит данные приказа для контроля о получении документов от продавцов гостиниц/билетов.
                При поступлении документов бухгалтер обрабатывает авансовый отчет.
                Так как документов от продавцов гостиниц/билетов не будет, потому что сотрудник оплатил билеты/гостиницу сам,
                авансовый отчет программа не даст заполнить.
            </p>
            <p>
                Что делать: Написать служебную записку на имя Главного бухгалтера банка, в которой указать причину расхождений между электронными и бумажными документами,
                служебную записку вложить в Авансовый отчет (оригинал сдать с пакетом документов). Служебная записка будет рассмотрена и бухгалтерия ВРУЧНУЮ внесет исправления в документы.
            </p>

            <h4 style="max-width: 100%; text-align: justify;">
                Вопрос 2: При заполнении Приказа запросил(а) аванс на командировку НОЛЬ, но деньги понадобились.
            </h4>

            <p>
                Ответ: Перечисление производится через сутки после ВСЕХ согласований. Если Вы запросили НОЛЬ, денежные средства перед командировкой Вам перечислены не будут.
                Денежные средства, израсходованные на командировку Вы получите после заполнения, согласования, утверждения авансового отчета.
            </p>
            <p>
                Что делать: Если по какой-то причине, Вы не запросили денежные средства и уехали в командировку,
                Вы или Ваш руководитель должны написать служебную записку на имя Главного бухгалтера на выдачу аванса,
                (если Вы писали самостоятельно СЗ - подписать у руководителя) и скан выслать на электронный адрес:
                Служебные записки Главному бухгалтеру СКБ <a href="mailto:glav_buh_SCB@ruscount.ru">glav_buh_SCB@ruscount.ru</a>; оригинал СЗ передать в кадровую службу,
                после этого Вам будет ВРУЧНУЮ начислен и перечислен аванс, который затем будет удержан из Вашей заработной платы,
                а подотчетную сумму за командировку Вы получите после закрытия авансового отчета.
            </p>

            <h4 style="max-width: 100%; text-align: justify;">
                Вопрос 3: Уехал(а) в командировку, деньги в Приказе заказывал, но их не перечислили.
            </h4>

            <p>
                Ответ: Денежные средства перечисляются на следующие сутки после всех согласований.
                Для своевременного получения денежных средств старайтесь оформить командировку минимум за 3 (Три) дня ДО отъезда.
                Денежные средства могут быть не перечислены в следующих случаях:
            </p>
            <ol type="a" style="">
                <li>
                    Ваш отчет несогласован Руководителем, или Членом Правления,
                </li>
                <li>
                    Вы запросили ноль при оформлении Приказа,
                </li>
                <li>
                    У Вас нет лицевого счета.
                </li>
            </ol>
            <p>
                Что делать: В случае a) - попросите Руководителя проверить согласования, в случае b) - см. ответ на вопрос 2,
                в случае c) - обратиться в Техподдержку. Техподдержка проверит наличие лицевого счета и в случае его отсутствия запросит лицевой счет в банке,
                если счет есть, но не передан (Вы новый сотрудник), то срок решения проблемы - 3 дня, если счета нет, то срок решения проблемы - 5 раб. дней.
            </p>

            <h4 style="max-width: 100%; text-align: justify;">
                Вопрос 4: Изменились сроки и маршрут командировки.
            </h4>

            <p>
                Ответ: Поездка в командировку осуществляется на основании согласованного Приказа.
                Если по факту сроки и маршрут оказались измененными, надо по приезду из командировки создать Приказ на изменение командировки (Приказ - изм).
                Приказ на изменение командировки согласовывается так же как и основной, всем списком Руководителей.
                Если такой необходимости нет, не надо создавать данный приказ. Если Вы создали Приказ-изм., отправьте его на согласование руководителю.
            </p>
            <p>
                Что делать: По приезду из командировки при заполнении Авансового отчета под ФАКТИЧЕСКИЕ ДАТЫ и маршрут создать Приказ-изм,
                согласовать его Руководителями и после этого заполнять Авансовый отчет.
            </p>

            <h4 style="max-width: 100%; text-align: justify;">
                Вопрос 5: Не могу изменить Приказ на командировку, закрыт период.
            </h4>

            <p>
                Ответ: Приказ на командировку создается до начала командировки.
                Заработная плата считается на основании Табеля рабочего времени, который закрывается 2 числа месяца за предыдущим.
                Все изменения, связанные с начислениями заработной платы и налогов от заработной платы, в закрытом периоде приводят к пересчету заработной платы и налогов.
                Поэтому старайтесь до 2 числа откорректировать даты командировок за прошлый месяц. Авансовый отчет можно составлять позже.
            </p>
            <p>
                Что делать: Если Вам необходимо исправить прошлый период, надо написать служебную записку на имя Главного бухгалтера,
                подписать ее у своего Руководителя и отправить на электронный адрес:
                Служебные записки Главному бухгалтеру СКБ <a href="mailto:glav_buh_SCB@ruscount.ru">glav_buh_SCB@ruscount.ru</a>,
                после ее подписания Главным бухгалтером Вам будет сделан ВРУЧНУЮ пересчет заработной платы за прошлый период.
            </p>

            <h4 style="max-width: 100%; text-align: justify;">
                Вопрос 6: При увольнении удержали деньги за командировку.
            </h4>

            <p>
                Ответ: При увольнении программа автоматически удерживает сумму израсходованную на командировку и подтвержденную авансовым отчетом.
                Перед увольнением необходимо самостоятельно проверить имеющиеся задолженности по подотчетным суммам.
            </p>
            <p>
                Что делать: Если при получении расчетного листа при увольнении с Вас будут удержаны суммы, за которые Вы не отчитались,
                но имеете подтверждающие расходы документы, Вам необходимо написать служебную записку на имя Главного бухгалтера,
                приложить все подтверждающие документы, подписать у руководителя и отправить на электронный адрес:
                Поляк В.Н <a href="mailto:polyak@sovcombank.ru">polyak@sovcombank.ru</a> и передать руководителю.
                После принятия решения вам будет сделан ВРУЧНУЮ пересчет и возвращена сумма по авансовому отчету в течение 10 рабочих дней.
                Руководитель заведет авансовый отчет в ЭССС.
            </p>

            <h4 style="max-width: 100%; text-align: justify;">
                Вопрос 7: При создании Руководителем Приказа За Сотрудника не могу создать Авансовый отчет.
            </h4>

            <p>
                Ответ: Создать руководителем Приказ на командировку можно в двух случаях:
            </p>
            <ol type="a" style="">
                <li>
                    сотрудник уже уехал в командировку,
                </li>
                <li>
                    сотруднику не предоставляется электронный адреса в силу специфики должностных обязанностей.
                    Авансовый отчет предоставляется каждым сотрудником самостоятельно.
                    Логины и пароли направляются на почту непосредственному руководителю.
                </li>
            </ol>
            <p>                
                Что делать: В случае a) сотрудник по приезду из командировки самостоятельно заполнит авансовый отчет,
                в случае b) руководитель может организовать заполнение на ВЭБ за сотрудника авансового отчета, используя данные логина и пароля.               
            </p>

            <h4 style="max-width: 100%; text-align: justify;">
                Вопрос 8: Как изменить данные в приказе на командировку?
            </h4>

            <p>
                Ответ: Состояние электронного документа отражает его движение по этапам согласования.
                Если Ваш приказ на командировку уже согласован руководителем и/или Членом правления,
                значит приказ на командировку уже ОТПРАВЛЕН на следующий этап работы документа:
                создание платежного поручения для перечисления Вам денежных средств для командировки.
            </p>
            <p>
                Что делать: До состояния приказа &laquo;Согласовано руководителем&raquo; Вы можете обратиться к руководителю,
                он отклонит Вашу заявку на командировку, и Вы сможете ее откорректировать.
                В других состояниях приказа Вы сможете откорректировать Маршрут и даты командировки через приказ на изменение после Вашего возвращения из командировки.
            </p>

            <h4 style="max-width: 100%; text-align: justify;">
                Вопрос 9: Как изменить данные в авансовом отчете?
            </h4>

            <p>
                Ответ: Состояние электронного документа отражает его движение по этапам согласования.
                Если Ваш авансовый отчет уже согласован руководителем и/или бухгалтером,
                значит авансовый отчет уже ОТПРАВЛЕН на следующий этап работы документа:
                создание платежного поручения для перечисления или удержания Долга за сотрудником/Долга за организацией.
            </p>
            <p>
                Что делать: До состояния авансового отчета &laquo;Согласовано&raquo; руководителем и/или бухгалтером
                Вы можете обратиться к руководителю и/или бухгалтеру, он отклонит Ваш авансовый отчет, и Вы сможете его откорректировать.
                В случае, если Вам необходимо внести исправления после согласования бухгалтером,
                Вам необходимо написать служебную записку на имя Главного бухгалтера,
                приложить все подтверждающие документы, подписать у руководителя и отправить на электронный адрес:
                Поляк В.Н <a href="mailto:polyak@sovcombank.ru">polyak@sovcombank.ru</a> и передать руководителю оригинал.
            </p>
            
            <h4 style="max-width: 100%; text-align: justify;">
                Вопрос 10: Сотрудник уволился, остались незаполненные Авансовые отчеты.
            </h4>

            <p>
                Ответ: При увольнении сотруднику закрывается доступ в Авансовые отчеты и сотрудник не может заполнить их.
            </p>
            <p>
                Что делать: Если у уволенного сотрудника есть незакрытые Авансовые отчеты, руководитель под ролью &laquo;Руководитель&laquo; может 
                зайти в Авансовый отчет уволенного сотрудника через реестр Авансовых отчетов и заполнить Авансовые отчеты уволенного сотрудника с прикреплением в них всех документов. 
                <br /><br />
                Обращаем Ваше внимание, что заполнять Авансовые отчеты руководитель может только за уволенных сотрудников и если Авансовые отчеты не Выгружены в 1С.
            </p>
        </td>
    </tr>
            
</table>

<script type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("moInstructions");
    });
</script> 
