@model Reports.Presenters.UI.ViewModel.InstructionsViewModel
@{
    Layout = "~/Views/Shared/_LayoutMissionOrder.cshtml";
    ViewBag.Title = "Инструкция";
}
@using (Html.BeginForm())
{
    <table style="width:100%">
    </table> 
}
<script type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("moInstructions");
    });
</script> 
