@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    ViewBag.Title = "Автоудержание по не закрытым АО";
}
<script type="text/javascript" src="../../Scripts/angular.min.js"></script>
<div ng-app="GridApp" >
@using (Html.BeginForm())
{
     <table style="width:100%" ng-controller="GridController">     
     <tr>
        <td colspan="2">
          <div class="filter-wrap">
            <table style="width:100%">
                <tr>
                    <td colspan="2">
                    <b>Выбор параметров</b>
                    </td>
                </tr>                        
                        <tr>
                            <td style="width:220px">
                                Структурное подразделение:
                            </td>
                            <td>
                                <label id="DepartmentNameLabel"></label>
                                <input type="hidden" id="DepartmentName" name="DepartmentName" />
                                <input type="hidden" id="DepartmentId" ng-model="model.DepartmentId" name="DepartmentId"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                               <input type="button" value="Выбрать" onclick="changeDepartment();"/>            
                            </td>
                        </tr>  
                        <tr>
                        <td>Статус:</td>
                        <td><select name='Status' id='Status'>
                            <option value="0"></option>
                            <option value="1">АО добавлен в реестр</option>
                            <option value="2">АО выгружен на удержание</option>
                        </select></td>
                        </tr>                      
                        <tr>
                            <td>
                              Имя сотрудника:
                            </td>
                            <td>
                               <input type="text" ng-model="model.UserName" />
                            </td>
                        </tr>                   
                        <tr>
                          <td colspan="2">
                            <input type="button" ng-click="GetData();" value="Выбрать"/>
                            <input type="button" value="Очистить" ng-click="resetFilter();"/>
                          </td>
                        </tr>
            </table>
        </div>
    </td>
    </tr>  
    <tr>
      <td>
        <span id="LoadingIndicator" ng-class="{loading:IsWorking}"></span>
        <input type="button" style="float: right;" onclick="window.print();" value="Печать"/>
        <input type="button" value="Excel" style="float:right;" onclick="getExcelTable('.grid');" />
        <input type="button" style="float: right;" value="Фильтр" onclick="$( '#FiltrRow' ).toggle( 'highlight' );" />
       </td>
    </tr>    
     <tr>
        <td colspan="2">
            <table id="DataGrid" class="grid" style="width:100%;border-bottom:0px;border-right:0px"><thead>
                <tr style='cursor: pointer; ' class="noselect">
                     <th ng-click="Sort('NPP')">
                       <a>№ П/П</a>
                       <span class="sortorder" ng-show="predicate === 'NPP'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th ng-click="Sort('CreateDate')">
                       <a>Дата создания</a>
                       <span class="sortorder" ng-show="predicate === 'CreateDate'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th ng-click="Sort('UserName')">
                        <a>ФИО</a>
                        <span class="sortorder" ng-show="predicate === 'UserName'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th ng-click="Sort('Position')">
                        <a>Должность</a>
                        <span class="sortorder" ng-show="predicate === 'Position'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th ng-click="Sort('AllSum')">
                        <a>Сумма</a>
                        <span class="sortorder" ng-show="predicate === 'AllSum'" ng-class="{reverse:reverse}"></span>
                    </th> 
                    <th ng-click="Sort('Dep3Name')">
                        <a>Подразделение<br />3 уровня</a>
                        <span class="sortorder" ng-show="predicate === 'Dep3Name'" ng-class="{reverse:reverse}"></span>
                    </th> 
                    <th ng-click="Sort('Dep7Name')">
                        <a>Подразделение<br />7 уровня</a>
                        <span class="sortorder" ng-show="predicate === 'Dep7Name'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th ng-click="Sort('DeductionDate')">
                        <a>Дата окончания<br />командировки</a>
                        <span class="sortorder" ng-show="predicate === 'DeductionDate'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th ng-click="Sort('MissionReportNumber')">
                        <a>Номер<br />авансового<br />отчёта</a>
                        <span class="sortorder" ng-show="predicate === 'MissionReportNumber'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th ng-click="Sort('DeductionUploadingDate')">
                       <a>Период удержания</a>
                       <span class="sortorder" ng-show="predicate === 'DeductionUploadingDate'" ng-class="{reverse:reverse}"></span>
                    </th>
                    <th  ng-click="Sort('Status')">
                        <a>Статус</a>
                        <span class="sortorder" ng-show="predicate === 'MissionReportNumber'" ng-class="{reverse:reverse}"></span>
                    </th>
                </tr>                
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Итого: {{TotalSum | currency : '' : 2}}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr id="FiltrRow" class="noExl">
                <td><input ng-model="search.NPP" class="filterinput" /></td>
                <td><input ng-model="search.CreateDate" class="filterinput" /></td>
                <td><input ng-model="search.UserName" class="filterinput"  /></td>
                <td><input ng-model="search.Position" class="filterinput"  /></td>
                <td><input ng-model="search.AllSum" class="filterinput"  /></td>
                <td><input ng-model="search.Dep3Name" class="filterinput"  /></td>
                <td><input ng-model="search.Dep7Name" class="filterinput"  /></td>
                <td><input ng-model="search.DeductionDate" class="filterinput"  /></td>
                <td><input ng-model="search.MissionReportNumber" class="filterinput"  /></td>
                <td><input ng-model="search.DeductionUploadingDate" class="filterinput" /></td>
                <td><input ng-model="search.Status" class="filterinput"  /></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in Grid.Data| orderBy:predicate:reverse | filter: search">
			        <td>{{row.NPP}}</td>
                    <td>{{row.CreateDate | date: 'dd.MM.yyyy'}}</td>
                    <td>{{row.UserName}}</td>
                    <td>{{row.Position}}</td>
                    <td>{{row.AllSum | currency : '' : 2}}</td>
                    <td>{{row.Dep3Name}}</td>
                    <td>{{row.Dep7Name}}</td>
                    <td>{{row.DeductionDate | date: 'dd.MM.yyyy'}}</td>
                    <td>{{row.MissionReportNumber}}</td>
                    <td>{{row.DeductionUploadingDate | date: 'dd.MM.yyyy'}}</td>
                    <td>{{row.Status}}</td>
		        </tr>
                </tbody>
            </table>
        </td>
     </tr>
    </table> 
}
</div>

<script src="@Url.Content("~/Scripts/TableSort.js")" type="text/javascript"></script>
<script>
    var GridApp = angular.module('GridApp', []);
    GridApp.controller('GridController', function ($scope, $http, $filter) {
        $scope.IsWorking = false;
        $scope.Grid = {};
        $scope.model = {};
        $scope.model.UserName = '';
        $scope.reverse = false;
        var orderBy = $filter('orderBy');
        $scope.Sort = function (col) {
            $scope.IsWorking = true;
            $(':button').button('disable');
            if ($scope.predicate == col) {
                $scope.reverse = !$scope.reverse;
            }
            else {
                $scope.predicate = col;
            }
            $scope.IsWorking = false;
            $(':button').button('enable');
        }

        $scope.GetData = function () {
            $scope.IsWorking = true;
            $(':button').button('disable');
            $scope.TotalSum = 0;
            $http.post('/MissionOrder/GetFullDepts', { DepartmentId: $('#DepartmentId').val(), Status: $('#Status').val(), UserName: $scope.model.UserName }).
              success(function (data, status, headers, config) {
                  for (var i = 0; i < data.length; i++) {
                      $scope.TotalSum += data[i].AllSum;
                      //data[i].DeductionDate = new Date(parseInt(data[i].DeductionDate.substr(6)));
                  }
                  $scope.Grid.Data = data;
                  $scope.IsWorking = false;
                  $(':button').button('enable');
              }).
              error(function (data, status, headers, config) {
                  alert('Ошибка при получении данных.');
                  $scope.IsWorking = false;
                  $(':button').button('enable');
              });
        }
        $scope.resetFilter = function () {
            $("#DepartmentId").val('0');
            $scope.model.DepartmentId = 0;
            $("#DepartmentNameLabel").text('');
            $("#DepartmentName").val('');
            $("#UserName").val('');
            $scope.model.UserName = '';
        }
        $scope.resetFilter();
    });	
</script>
<script type="text/javascript">
    var actionDepUrl = "@Url.Action("GetChildren", "Home")";
    var actionDepDialogUrl = "@Url.Action("DepartmentDialog", "Home")";
    $(document).ready(function () {
        setActiveMenuItem("moFullDepts");
    });
    $(':button').button();
    $('#FiltrRow').hide();
    
   

 </script> 