@model Reports.Presenters.UI.ViewModel.PrintArchivistAddressFormModel
@{
    Layout = null;
    ViewBag.Title = "Адрес архивариуса";
}  
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; CHARSET=utf-8">
<TITLE></TITLE>
<STYLE TYPE="text/css">
body { background: #ffffff; margin: 0; font-family: Arial; font-size: 8pt; font-style: normal; }
tr.R0{ height: 15px; }
tr.R1{ height: 44px; }
tr.R2{ height: 28px; }
tr.R2 td.R10C1{ font-family: Times New Roman; font-size: 16pt; font-style: normal; text-align: justify; }
tr.R2 td.R2C1{ font-family: Times New Roman; font-size: 16pt; font-style: normal; }
tr.R20{ height: 39px; }
tr.R20 td.R20C1{ font-family: Times New Roman; font-size: 22pt; font-style: normal; }
tr.R20 td.R20C2{ vertical-align: bottom; }
table {table-layout: fixed; padding: 0px; padding-left: 2px; vertical-align:bottom; border-collapse:collapse;width: 100%; font-family: Arial; font-size: 8pt; font-style: normal; }
td { padding: 0px; padding-left: 2px; overflow:hidden; }
</STYLE>
</HEAD>
<BODY STYLE="background: #ffffff; margin: 0; font-family: Arial; font-size: 8pt; font-style: normal; ">
<TABLE style="width:0px; height:0px; " CELLSPACING=0>
<COL WIDTH=17>
<COL WIDTH=540>
<COL WIDTH=578>
<TR CLASS=R0>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R1>
<TD><DIV STYLE="width:100%;height:44px;overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:44px;overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:44px;overflow:hidden;"><SPAN></SPAN></DIV></TD>
<TD><DIV STYLE="width:100%;height:44px;overflow:hidden;">&nbsp;</DIV></TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1 COLSPAN=2><SPAN STYLE="white-space:nowrap">От&nbsp;кого:&nbsp;ООО&nbsp;ИКБ&nbsp;"Совкомбанк",&nbsp;@Model.From</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1 COLSPAN=2><SPAN STYLE="white-space:nowrap">Откуда:</SPAN></TD>
<TD></TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1 COLSPAN=2><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1 COLSPAN=2><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1 COLSPAN=2><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1 COLSPAN=2><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1 COLSPAN=2><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1 COLSPAN=2><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R10C1 COLSPAN=2><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1 COLSPAN=2><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1 COLSPAN=2><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1 COLSPAN=2><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1><SPAN></SPAN></TD>
<TD CLASS=R2C1 COLSPAN=2><SPAN STYLE="white-space:nowrap">Кому:&nbsp;ООО&nbsp;ИКБ&nbsp;"Совкомбанк",&nbsp;@Model.To</SPAN></TD>
</TR>
<TR CLASS=R2>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD CLASS=R2C1 COLSPAN=2><SPAN STYLE="white-space:nowrap">Куда:&nbsp;@Model.Address</SPAN></TD>
</TR>
<TR CLASS=R0>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD><SPAN></SPAN></TD>
<TD>&nbsp;</TD>
</TR>
<TR CLASS=R20>
<TD><SPAN></SPAN></TD>
<TD CLASS=R20C1 COLSPAN=3><SPAN STYLE="white-space:nowrap">@Model.Index</SPAN></TD>
</TR>
</TABLE>
</BODY>
</HTML>
