@model Reports.Presenters.UI.ViewModel.HelpVersionsListModel
@{
    Layout = "~/Views/Shared/_HelpInfo.cshtml";
    ViewBag.Title = "О программе";
}

@using (Html.BeginForm())
{
    <div id="VersionsModelContext">@Html.Partial("VersionPartial", Model)</div>
}
<script type="text/javascript">
   
    $(document).ready(function () {
        setActiveMenuItem("helpVersion");
    });
</script>