/****** Object:  Table [dbo].[WorkingCalendar]    Script Date: 05/30/2013 08:04:42 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[WorkingCalendar]') AND name = N'IX_Date_Unique')
	DROP INDEX [IX_Date_Unique] ON [dbo].[WorkingCalendar] WITH ( ONLINE = OFF )
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkingCalendar]') AND type in (N'U'))
	DROP TABLE [dbo].[WorkingCalendar]
GO

/****** Object:  Table [dbo].[WorkingCalendar]    Script Date: 05/30/2013 08:10:16 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[WorkingCalendar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[IsWorkingHours] [int] NULL,
 CONSTRAINT [PK_WorkingCalendar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_Date_Unique] ON [dbo].[WorkingCalendar] 
(
	[Date] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WorkingCalendar] ON
INSERT [dbo].[WorkingCalendar] ([Id], [IsWorkingHours], [Date]) VALUES (1, NULL, CAST(0x0000A13900000000 AS DateTime))
INSERT [dbo].[WorkingCalendar] ([Id], [IsWorkingHours], [Date]) VALUES (2, NULL, CAST(0x0000A13A00000000 AS DateTime))
INSERT [dbo].[WorkingCalendar] ([Id], [IsWorkingHours], [Date]) VALUES (3, NULL, CAST(0x0000A13B00000000 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[WorkingCalendar] OFF
