@{
    ViewBag.Title = "Ошибка при создании заявки";
}

<div  style="color:Red">Ошибка - попытка повторного создания новой заявки</div>
<div  style="color:Red">Не используйте F5 (Ctrl-F5) для обновления страницы после создания новой заявки.</div>

