@{
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
    ViewBag.Title = "Доступ запрещен";
    //var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
}

@using (Html.BeginForm())
{
     @Html.Partial("ErrorMenuPartial")
    <h2>Доступ запрещен</h2>
}



