@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    ViewBag.Title = "Инструкция";
}
<style>
    body{line-height: 1.5;}
    p {
    line-height: 1.5;
   }</style>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Для вышестоящего руководителя</a></li>
    <li><a href="#tabs-2">Для кадровика СКБ</a></li>
    <li><a href="#tabs-3">Для руководителя инициатора</a></li>
	<li><a href="#tabs-4">Для службы по подбору</a></li>
  </ul>
  <div id="tabs-1">
    <p><h1>Краткий порядок пользования программой «Подбор персонала».</h1>
<h2>Вышестоящего руководителя (Руководителя БГ, Управляющего по области, Регионального директора, Управляющего филиалом)</h2>
<br/>
1. После согласования Руководителем-Инициатором и Специалистом УКДиУ, Вышестоящему руководителю на электронный почтовый адрес приходит сообщение о необходимости согласования заявки на подбор персонала.<br/><br />
2. Для просмотра и согласования заявки на подбор персонала в программе «Подбор персонала», Вышестоящему руководителю необходимо:<br/><br />
а) Зайти в программу «Подбор персонала» по адресу https://ruscount.com:8002;<br/><br />
б) Выбрать в «Реестре заявок на подбор» необходимую заявку на подбор персонала и нажать на номер заявки на подбор персонала для ее просмотра.<br/><br />
3. Для согласования заявки на подбор персонала в программе «Подбор персонала» Вышестоящим руководителем, необходимо:<br/><br />
а) Для положительного согласования заявки на подбор персонала, внизу заявки на подбор персонала поставить галку рядом с полем «Отправить на согласование» и нажать кнопку «Сохранить». <br/><br />
в) Для отклонения заявки на подбор персонала необходимо внизу заявки на подбор персонала нажать на кнопку «Отклонить», при этом заявка на подбор персонала уходит в состояние «Черновик» и Руководитель (инициатор) может ее редактировать.<br/><br />
4. Если заявка на подбор становится неактуальна, то необходимо в заявке на подбор нажать на кнопку «Заявка неактуальна». После нажатия на эту кнопку, заявка на подбор и отчеты по подбору к данной заявке блокируются. Обращаем Ваше внимание! В случае, если кандидат по заявка на подбор выгружен в программу «ПРИЕМ» кнопка «Заявка неактуальна» становится недоступна.<br />
5. После того как кандидат будет принят на работу в «ПАО «Совкомбанк» в заявке на подбор персонала или в отчете по подбору в поле «Принятые сотрудники» появится дата приема кандидата.</p><br/>
  </div>
  <div id="tabs-2">
    <p><h1>Краткий порядок пользования программой «Подбор персонала».</h1>
<h2>(Для Кадровика СКБ)</h2>
1. После появления новых заявок на подбор персонала в программе «Подбор персонала» во вкладках «Реестр заявок на подбор» и «Согласование кандидата от Руководителя» и получения сообщений на электронную почту, Кадровик СКБ проверяет  наличие в штатном расписании  свободных запрашиваемых вакансий  согласно  заявок на подбор персонала от Руководителя -Инициатора :<br /><br />
а) Если количество   свободных вакансий в штатном расписании больше или равно количеству требуемых кандидатов, запрошенных в заявках , то Кадровик СКБ указывает количество вакансий, ставит «Да» в поле «Проверка наличия вакансии» и нажимает на кнопку «Сохранить» и заявка  уходит на согласование Вышестоящему руководителю.<br /><br />
б) Если количество свободных вакансий в штатном расписании меньше количества запрашиваемых кандидатов, запрошенных в заявке на подбор персонала, то Кадровик СКБ указывает количество вакансий, ставит «Нет» в поле «Проверка наличия вакансии» и нажимает на кнопку «Сохранить», у Руководителя-Инициатора появляется кнопка «Создать служебную записку на изменение штатного расписания».<br /><br />
в) Если у Кадровика СКБ появились вопросы к Руководителю-Инициатору, то Кадровик СКБ может оставить комментарии в заявке на подбор, нажать на кнопку «Отправить e-mail руководителю» в заявке на подбор, Руководителю-Инициатору уйдет электронное сообщение на электронный почтовый адрес о том, что необходимо зайти в заявку на подбор и ответить на комментарии.<br />
2. Если у Руководителя появилась кнопка «Создать служебную записку на изменение штатного расписания», то Руководителю необходимо заполнить служебную записку и выслать служебную записку на электронную почту Shtat.<br /><br />
3. После согласования служебной записки в программе Pyrus.com Кадровик СКБ меняет в заявках количество вакансий, ставит «Да» в поле «Проверка наличия вакансии» и нажимает на кнопку «Сохранить» и заявка  уходит на согласование Вышестоящему руководителю. Если служебная записка в программе Pyrus.com согласована не будет, по истечении 30 календарных дней заявка на подбор персонала будет закрыта автоматически.<br /><br />
4. После того как кандидат будет принят на работу в «ПАО «Совкомбанк» в заявке на подбор персонала или в отчете по подбору в поле «Принятые сотрудники» появится дата приема кандидата.</p>

</div>
  <div id="tabs-3">
        <p><h1>Краткий порядок пользования программой «Подбор персонала».</h1>
<h2>(Для Руководителей)</h2>
1. После принятия решения о подборе кандидата для его приема на работу в ПАО «Совкомбанк», необходимо:<br /><br />
а) Зайти в программу «Подбор персонала» по адресу https://ruscount.com:8002;<br /><br />
б) Во вкладке «Реестр заявок на подбор» нажать на кнопку «Создать новую заявку»;<br /><br />
в) Заполнить все поля заявки на подбор персонала и нажать кнопку «Сохранить» для сохранения черновика заявки на подбор персонала или поставить галку в поле «Отправить на согласование» и нажать кнопку «Сохранить» для отправки заявки на подбор персонала на согласование Кадровику СКБ для проверки наличия свободных вакансии в штатном расписании для подбираемого кандидата и для согласования Вышестоящим руководителем. <br /><br />
<b>Обращаем Ваше внимание!</b> При создании заявки на подбор с причиной появления вакансии «Увольнение» выбрать сотрудника можно только из действующих сотрудников, которые находятся в процессе увольнения и еще не создали заявку на увольнение (в этом случае пока увольняющийся сотрудник не создаст заявку на увольнение в программе «Табель» в «Увольнения» создание заявки на подбор будет невозможно) и на сотрудников, у которых есть заявка на увольнение в программе «Табель» в «Увольнения», но статус заявки не должен быть «Выгружен в 1С» или «Заявка неактуальна».<br />
2. При получении сообщения на электронную почту, Кадровик СКБ проверяет в штатном расписании наличие свободных запрашиваемых вакансий согласно заявке на подбор персонала:<br /><br />
а) Если количество свободных вакансий в штатном расписании больше или равно количеству требуемых кандидатов, запрошенных в заявке на подбор персонала, то Кадровик СКБ согласовывает заявку на подбор персонала с указанием количества свободных вакансий, и она уходит на согласование Вышестоящему руководителю;<br /><br />
б) Если количество свободных вакансий в штатном расписании меньше количества вакансий, запрошенных в заявке на подбор персонала, то Кадровик СКБ указывает количество свободных вакансий в штатном расписании или при отсутствии вакансий  ставит ноль в заявке на подбор персонала. После этого у Руководителя-Инициатора появляется кнопка «Создать служебную записку на изменение штатного расписания». <br /><br />
в) При получении электронного сообщения на электронный почтовый адрес о том, что необходимо зайти в заявку на подбор и ответить на комментарии и появления в заявке на подбор статуса «Специалистом УКДиУ приостановлено согласование» необходимо зайти в заявку на подбор и ответить на вопросы Специалиста УКДиУ, заданные в комментариях.<br />
<b>Обращаем ваше внимание:</b> при отклонении заявки на подбор персонала Вышестоящим руководителем, заявка уходит в статус «Черновик», который можно редактировать и отправлять на согласование.<br /><br />
3. Если у Руководителя-Инициатора появилась кнопка «Создать служебную записку на изменение штатного расписания», то Руководителю необходимо заполнить служебную записку и выслать служебную записку на электронную почту Shtat. После согласования служебной записки в программе Pyrus.com Кадровик СКБ меняет в заявке на подбор персонала количество вакансий. Если служебная записка в программе Pyrus.com согласована не будет, то по истечении 30 календарных дней заявка на подбор персонала будет закрыта автоматически.<br /><br />
4. В случае если количество свободных вакансий в штатном расписании больше или равно количеству требуемых кандидатов и заявка на подбор персонала согласована Кадровиком СКБ и Вышестоящим руководителем, Службе по подбору персонала приходит сообщение на электронную почту о том, что создана новая  заявка на подбор персонала.<br /><br />
Обращаем Ваше внимание! Если заявка на подбор становится неактуальна, то необходимо в заявке на подбор нажать на кнопку «Заявка неактуальна». После нажатия на эту кнопку, заявка на подбор и отчеты по подбору к данной заявке блокируются. Обращаем Ваше внимание! В случае, если кандидат по заявка на подбор выгружен в программу «ПРИЕМ» кнопка «Заявка неактуальна» становится недоступна.<br />
5. При подборе необходимого  кандидата, Служба по подбору персонала создает отчет по подбору к заявке на подбор персонала во вкладке «Реестр отчетов по подбору» в программе «Подбор персонала», в котором заполняет всю информацию о  кандидате и прикрепляет резюме кандидата.<br /><br />
<b>Обращаем Ваше внимание:</b> для одной заявки на подбор персонала может быть создано несколько отчетов по подбору.<br /><br />
6. Если Руководителю-Инициатору не подходит кандидат, указанный в отчете по подбору, то Руководитель нажимает на кнопку «Отклонить отчет».<br /><br />
7. Если Руководителю подходит кандидат, указанный в отчете по подбору, то Руководитель ставит галку рядом с полем «Кандидат приглашен на собеседование», указывает дату собеседования и нажимает кнопку «Сохранить».<br /><br />
8. Если собеседование пройдено кандидатом, то Руководителю необходимо:<br /><br />
а) Заполнить все оставшиеся поля отчета по подбору;<br /><br />
б) Получить у кандидата собственноручно написанное кандидатом согласие на обработку персональных данных (бланк размещён в Веб-табеле/ИнфоУслуги/Шаблоны);<br /><br />
в) В отчете по подбору данного кандидата нажать на кнопку «Выгрузить в прием» и создать учетную запись (логин и пароль) для входа и заполнения кандидатом анкеты на прием в Программе «ПРИЕМ»;<br /><br />
г) Распечатать учетную запись с инструкцией для кандидата и передать кандидату распечатанную учетную запись с инструкцией для заполнения кандидатом программы «ПРИЕМ».<br /><br />
9. Если собеседование кандидатом не пройдено, то Руководитель в поле «Собеседование пройдено/не пройдено» ставит «Нет», указывает по какой причине кандидату отказано и нажимает кнопку «Сохранить».<br /><br />
10. После того как кандидат будет принят на работу в «ПАО «Совкомбанк» в отчете по подбору в поле «Принятые сотрудники» появится дата приема кандидата.<br /><br />
<b>Если кандидат подобран самостоятельно без службы по подбору персонала или кандидат согласован в программе Pyrus.com (переходный период) :</b><br /><br />
1. Зайти в программу «ПОДБОР ПЕРСОНАЛА (добавление кандидата в Приём)» по адресу https://ruscount.com:8002;<br /><br />
2. Во вкладке «Реестр заявок на подбор» нажать на кнопку «Согласование кандидата от Руководителя» заполнить все поля заявки на подбор персонала и нажать кнопку «Отправить на согласование» и  кнопку «Сохранить» для отправки заявки на подбор персонала на согласование Кадровику СКБ для проверки наличия свободных вакансий в штатном расписании для подбираемого кандидата. Все заявки, созданные во вкладке «Согласование кандидата от Руководителя» отражаются в «Реестре заявок на подбор».<br /><br />
Обращаем Ваше внимание! При создании заявки на подбор с причиной появления вакансии «Увольнение» выбрать сотрудника можно только из действующих сотрудников, которые находятся в процессе увольнения и еще не создали заявку на увольнение (в этом случае пока увольняющийся сотрудник не создаст заявку на увольнение в программе «Табель» в «Увольнения» создание заявки на подбор будет невозможно) и на сотрудников, у которых есть заявка на увольнение в программе «Табель» в «Увольнения», но статус заявки не должен быть «Выгружен в 1С» или «Заявка неактуальна».<br />
3. При получении сообщения на электронную почту, Кадровик СКБ проверяет в штатном расписании наличие свободных запрашиваемых вакансий согласно заявке:<br /><br />
а) Если количество свободных вакансий в штатном расписании больше или равно количеству требуемых кандидатов, запрошенных в заявке , то Кадровик СКБ согласовывает заявку на подбор персонала с указанием количества свободных вакансий, и она уходит на согласование Вышестоящему руководителю;<br /><br />
б) Если количество свободных вакансий в штатном расписании меньше количества требуемых кандидатов, запрошенных в заявке , то Кадровик СКБ указывает количество свободных вакансий в штатном расписании или при отсутствии вакансий  ставит ноль в заявке . После этого у Руководителя-Инициатора появляется кнопка «Создать служебную записку на изменение штатного расписания».<br /><br />
в) При получении электронного сообщения на электронный почтовый адрес о том, что необходимо зайти в заявку на подбор и ответить на комментарии и появления в заявке на подбор статуса «Специалистом УКДиУ приостановлено согласование» необходимо зайти в заявку на подбор и ответить на вопросы Специалиста УКДиУ, заданные в комментариях.<br />
<b>Обращаем ваше внимание:</b> при отклонении заявки на подбор персонала Вышестоящим руководителем, заявка уходит в статус «Черновик», который можно редактировать и отправлять на согласование.<br /><br />
4. Если у Руководителя-Инициатора появилась кнопка «Создать служебную записку на изменение штатного расписания», то Руководителю необходимо заполнить служебную записку и выслать служебную записку на электронную почту Shtat. После согласования служебной записки в программе Pyrus.com Кадровик СКБ меняет в заявке  количество вакансий. Если служебная записка в программе Pyrus.com согласована не будет, то по истечении 30 календарных дней заявка на подбор персонала будет закрыта автоматически.<br /><br />
5. В случае если количество свободных вакансий в штатном расписании больше или равно количеству требуемых кандидатов и заявка  согласована Кадровиком СКБ и Вышестоящим руководителем, то Руководителю необходимо:<br /><br />
а) Получить у кандидата собственноручно написанное кандидатом согласие на обработку персональных данных (бланк размещён в Веб-табеле/ИнфоУслуги/Шаблоны);<br /><br />
б) В отчете по подбору к данной заявке во вкладке «Реестр отчетов по подбору» нажать на кнопку «Выгрузить в прием» и создать учетную запись (логин и пароль) для входа и заполнения кандидатом анкеты на прием в Программе «ПРИЕМ»;<br /><br />
в) Распечатать учетную запись с инструкцией для кандидата и передать кандидату распечатанную учетную запись с инструкцией для заполнения кандидатом программы «ПРИЕМ».<br /><br />
6. После того как кандидат будет принят на работу в «ПАО «Совкомбанк» в заявке на подбор персонала в поле «Принятые сотрудники» появится дата приема кандидата.<br /><br />
<br />Обращаем Ваше внимание! Если заявка на подбор становится неактуальна, то необходимо в заявке на подбор нажать на кнопку «Заявка неактуальна». После нажатия на эту кнопку, заявка на подбор и отчеты по подбору к данной заявке блокируются. Обращаем Ваше внимание! В случае, если кандидат по заявка на подбор выгружен в программу «ПРИЕМ» кнопка «Заявка неактуальна» становится недоступна.<br />
</p>
  </div>
  <div id="tabs-4">
    <p><h1>Краткий порядок пользования программой «Подбор персонала».</h1>
<h2>(Для Службы по подбору персонала)</h2>
1. После появления новых заявок на подбор персонала в программе «Подбор персонала» и получения сообщений на электронную почту, Начальник ОПиНП через вкладку «Реестр заявок на подбор» заходит в заявку на подбор персонала, ставит галку рядом с полем «Принял в работу», назначает Рекрутеров, выбирает срочность заявки и нажимает на кнопку «Сохранить»
<br /><b>Обращаем ваше внимание:</b> Специалист службы по подбору персонала может создать заявку на подбор персонала за руководителя, нажав на кнопку «Создать заявку за руководителя» во вкладке «Реестр заявок на подбор».<br /><br />
2. После того как Специалист службы по подбору персонала подберет кандидата, необходимо:<br /><br />
а) Зайти во вкладку «Реестр отчетов по подбору», выбрать отчет по подбору, который соответствует номеру заявки;<br /><br />
б) Заполнить все поля отчета по подбору;<br /><br />
в) Прикрепить скан резюме кандидата и нажать на кнопку «Сохранить»;<br /><br />
г) Поставить галку рядом с полем «Отправить на согласование» и нажать на кнопку «Сохранить». После этого отчет по подбору увидит Руководитель-Инициатор.<br /><br />
Обращаем Ваше внимание: поля для Руководителя в отчете по подбору Специалист по подбору персонала может заполнить за Руководителя.<br /><br />
3. Если Специалист по подбору персонала нашел нескольких кандидатов к одной заявке на подбор персонала, то он может создать несколько отчетов по подбору. Для этого необходимо нажать на кнопку «Добавить кандидата» в одном из существующих отчетов по подбору к необходимой заявке.<br /><br />
4. Если кандидат прошел собеседование, то Специалист по подбору персонала может проставить данные об обучении кандидата в отчете по подбору по данному кандидату в поле «Результат тестирования специалистом ОПиНП».
<br />
5. После того как кандидат будет принят на работу в «ПАО «Совкомбанк» в отчете по подбору в поле «Принятые сотрудники» появится дата приема кандидата.<br/>
Обращаем Ваше внимание! Если заявка на подбор становится неактуальна, то необходимо в заявке на подбор нажать на кнопку «Заявка неактуальна». После нажатия на эту кнопку, заявка на подбор и отчеты по подбору к данной заявке блокируются. Обращаем Ваше внимание! В случае, если кандидат по заявка на подбор выгружен в программу «ПРИЕМ» кнопка «Заявка неактуальна» становится недоступна.<br />
	</p>
	</div>
</div>
<script>
 $(document).ready(function () {
        $( "#tabs" ).tabs();
        setActiveMenuItem("appInstruction");
    });
    </script>