@model Reports.Presenters.UI.ViewModel.InfoModel
@{
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
    ViewBag.Title = "ИнфоЗарплата";
}

@using (Html.BeginForm())
{
    <table style="width:100%">
         <tr>
            <td>Тест</td>
        </tr>
    </table>
}