@model Reports.Presenters.UI.ViewModel.InfoModel
@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
    ViewBag.Title = "ИнфоЗарплата";
}

@using (Html.BeginForm())
{
    <table style="width:100%">
         <tr>
            <td>
            
            <p>Пожалуйста, перейдите по ссылке <strong><a href="https://ruscount.com:3344/1c" target="_blank">ИнфоЗарплата</a></strong> для просмотра своих Расчетных листов и справок 2НДФЛ.</p>

            <p>В случае если Вы забыли свой пароль, пожалуйста, напишите об этом на почтовый ящик <strong><a href="mailto:info@ruscount.ru">info@ruscount.ru</a></strong>.</p>
            
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(document).ready(function () {
        setActiveMenuItem("helpInfo");
    });

</script>