@using Reports.Core;
@{
    var dto = Reports.Presenters.Services.Impl.UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
  }  
<script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/angular-sanitize.min.js")" type="text/javascript"></script>
<div id="Blog" class="Blog" ng-app="NewsApp">
<div ng-controller="NewsController">
@if (dto.UserRole == UserRole.Admin)
{
    <fieldset style="border:1px solid #ddd; border-radius: 5px; margin:5px;">
        <legend><input type="button" style="cursor:hand;" ng-click="Toggle()" value="Добавление новости"/></legend>
    
        <div id="AddNews" ng-class="{'HiddenObject': AddNewsEnable}">
            <input style="width:100%; margin:5px;" class="form-control" ng-model="NewPost.Header" placeholder = "Заголовок" />
            <textarea style="width:100%; margin:5px" class="form-control" ng-model="NewPost.Text" placeholder = "Текст новости" ></textarea>
            <input style="margin:5px" type="button" ng-click="AddPost()" value="Добавить новость" /> 
        </div>
    </fieldset>
}
<div class="NewsPost" ng-repeat="post in News">
    <B style="font-size:large">{{post.Header}}</B><span style="color:#aaa; position:absolute; left:auto; right:5px;">{{post.PostDate}}</span>
    <div ng-bind-html="post.Text"></div>
</div>
</div>
</div>
<script>
    var NewsApp = angular.module('NewsApp', ["ngSanitize"]);
    NewsApp.controller('NewsController', function ($scope, $http) {

        $scope.News = {};
@if (dto.UserRole == UserRole.Admin)
{
        <text>
        $scope.NewPost = {};
        $scope.AddPost = function () {
            $http.post("/Info/AddNews/", $scope.NewPost).success(function () {
                $scope.LoadData();
                $scope.NewPost = {};
            });
        };
        $scope.Toggle = function () {
            $scope.AddNewsEnable = !$scope.AddNewsEnable;
        };
        $scope.AddNewsEnable = true;
        </text>
}
        $scope.LoadData = function () {
            $http.get('/Info/News/').success(function (data) {
                for(var el in data)
                {
                    console.log(data[el]);
                    data[el].Text=unescape(data[el].Text);
                    console.log(unescape(data[el].Text));
                }
                $scope.News = data;
            });
        };
        $scope.LoadData();
    });
</script>