@model WebMvc.Models.HomeModel
@{
   
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
    ViewBag.Title = "Главная страница";
    var dto = UserDto.Deserialize(((FormsIdentity)(HttpContext.Current.User.Identity)).Ticket.UserData);
   
}
@using Reports.Presenters.Services.Impl
@using Reports.Core
@using System.Configuration
@using (Html.BeginForm())
{
	<div style="text-align:center;font-size:larger;height:100px;line-height: 100px;"> 
	</div>
	
	<div style="text-align:center;font-size:larger;"> 
		<img @if(Request.Url.Port==8002){<text> style="width: 181px; height: 49px;"</text>} src="@(Request.Url.Port == 8002 ? Url.Content("~/Content/logo-skb.jpg") : Url.Content("~/Content/test2.png"))"/>
		<div class="portala-name">Кадровый портал</div>
		<div class="portala-support">
		Техническая поддержка: info@ruscount.ru<br>
		@*Общие вопросы: info@ruscount.ru*@
		</div>
		<div class="portala-help">
		<a href="/Content/user-manual-sotrudnik.pdf" target="_blank">Руководство по использованию</a>
		</div>
	</div>
}
<script type="text/javascript">
    $(document).ready(function () {
        //var pathname = window.location.pathname;
        //setMainActiveMenuItem($.url().param('mainMenuItem'));
    });
</script>