@model Reports.Presenters.UI.ViewModel.ChangeRoleModel

@{
    ViewBag.Title = "Изменение роли";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

@using (Html.BeginForm()) {
    <table style="width:100%">
           <tr>
                <td colspan="2">
                    Выберите роль для работы в системе
                </td>
           </tr>
           <tr>
                <td style="width:120px">
                    @Html.LabelFor(m => m.RoleId):
                </td>
                <td>
                    @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.Roles, "ID", "Name")) 
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Выбрать роль" />
                </td>
            </tr>    
    </table>
    
    <br />
    <br />
    @*
    <table id="tbl1" width="100%">
        <tr>
            <td align="center">
                <h5 style="color:blue">С Новым Годом!</h5>
            </td>
        </tr>
        <tr>
            <td align="center">
                <img scr=<img src="../../Content/files/NewYear.jpg" />
            </td>
        </tr>
    </table>
    *@
    @*
        <tr>
            <td style="border: 2px solid Red;">
                <label>Уважаемые пользователи!<//label><br /><br />
                <label>Для вашего удобства проведены изменения в программе WEB-табель.</label><br />
                <label>С 8 декабря 2014 года начинает работать новая вкладка ИНФО_УСЛУГИ в программе WEB-табель.</label><br />
                <label>На данной странице вы сможете:</label><br />
                <label>a) </label><label style="text-decoration:underline; font-weight:bold;"> Задать вопросы</label><label> специалисту по расчету заработной платы по начислениям и удержаниям, специалисту отдела кадров по кадровому оформлению, специалисту IT-службы  по  технической  поддержке программ WEB-табеля - вкладка ЗАДАТЬ ВОПРОС.</label>
                <br />
                <label>b) </label><label style="text-decoration:underline; font-weight:bold;"> Заказать услуги</label><label> по предоставлению вам копий и оригиналов документов и справок -вкладка ЗАКАЗАТЬ УСЛУГУ.</label><br />
                <label>c) </label><label style="text-decoration:underline; font-weight:bold;"> Получить  образцы заявлений</label><label> для оформления - вкладка ШАБЛОНЫ</label><br />
                <label>d) </label><label style="text-decoration:underline; font-weight:bold;"> Посмотреть свой расчетный лист и справку 2НДФЛ</label><label> - вкладка ИНФОЗАРПЛАТА.</label><br />
                <br />
                <label>Обращаем   ваше  внимание!</label><br />
                <label>С 8  декабря 2014 года   страница "Вопросы_Ответы"  будет закрыта.</label><br />
                <label>С 8  декабря 2014 года   программа  ИНФОЗАРПЛАТА перемещена  в ИНФО_УСЛУГИ.</label><br />
                <label>С 8 декабря 2014  года вопросы и заказ услуг, адресованный на  Кадровика, обрабатываться  по электронной  почте не будет.</label>
            </td>
        </tr>
    </table>
    *@
}

